<#define __IMAGE__="{{LAM.IMAGE}}" />
<#define __MYCOMMON__="{{LAM.MYCOMMON}}" />
<#define __PLUGINS__="{{LAM.PLUGINS}}" />
<#define __CLASSPATH__="{{LAM.classPath}}" />
<#define __COMMON__="{{LAM.COMMON}}" />
<#define __CSS__="{{LAM.CSS}}" />
<#define _LAYOUTS_="{{LAM.LAYOUTS}}" />
<#define __DATAPATH__="{{LAM.DATA}}" />
#define# __MENU__ <#include repeat="0" tp-data=""  file="__DATAPATH__/menu.json" /> #end#
<#include repeat="0" tp-data="{'menu':__MENU__,'title':'{{title}}'}" file="_LAYOUTS_/default/base.html" />

<#Block:begin id="content">
<div class="col-md-10 sectionWrap-A4">
    <div class="p20">
        <#include tp-data="{'menu':__MENU__,'title':'喜鹊筑家旗舰店'}" file="_LAYOUTS_/default/include/inc_menu_mobile.html" />


        <#include repeat="0" tp-data="{'name':'{{D.user.name}}','age':'{{D.user.age}}'}" delimiters="['{#','#}']"  file="_LAYOUTS_/default/include/inc_header.html" />
        <#=block id="header" />

        <#include repeat="0" tp-data="{'list':'{{D.list}}'}" file="_LAYOUTS_/default/include/inc_crumb.html" />
        <#=block id="crumb" data="{}" />
        <!#include repeat="0" tp-data="{}" file="_LAYOUTS_/default/test.html" />
        {{content}}

    </div>
</div>
<#Block:end>