<#define __PACKAGE__="views.test" />
<#define __ID__="__PACKAGE__.index" />
<#define _TITLE_="测试" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/tesks/" />



<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<#Block:begin id="__ID__">
<div v-loading="loading">
    


</div>

<#Block:end>


<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;

        var ContentComponent = {
          name: "tesks",
          props: {
          },
          components: {
          },
          data() {
            return {
				loading: false,
				tableData: [{
					title: 'xxxx'
				}],
				flag: true
            }
          },
          created() {
            this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
          },
          methods: {
              
          },
          template: `<#=block id="__ID__" />`
        };

        System.export('__ID__', ContentComponent);
    });
</script>





