<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define ~/="__VIEWS__/test/" />



<#import path="/echarts.js,/chart/line.js,/chart/bar.js" root="http://echarts.baidu.com/build/dist" write="1" befor="1" />

<#define _TITLE_="test" />
<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'店铺管理','href':'__INDEX__test/index','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->



<#Block:begin id="views.test.index">
<div v-loading.fullscreen.lock="loading">
	<el-table
                                :data="list"
                                height="550"
                                stripe
                                border
                                style="width: 100%">
                                <el-table-column
                                fixed
                                sortable
                                prop="id"
                                label="id"
                                width="80">
                                </el-table-column>
                                <el-table-column
                                prop="name"
                                label="商品名称"
                                width="300">
                                </el-table-column>
                                <el-table-column
                                prop="code"
                                label="商品条形码"
                                width="130">
                                </el-table-column>
                                <el-table-column
                                prop="single_price"
                                label="单价($)"
                                sortable
                                width="100">
                                </el-table-column>
                                <el-table-column
                                prop="final_price"
                                label="结果价($)"
                                width="100">
                                </el-table-column>
                                <el-table-column
                                prop="number"
                                label="数量"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="weight"
                                label="重量"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="unit"
                                label="单位"
                                align="center"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="create_at"
                                label="日期"
                                sortable
                                align="center"
                                width="100">
                                </el-table-column>
                                <el-table-column
                                    fixed="right"
                                    label="操作"
                                    align="center"
                                    width="130">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small">查看</el-button>
                                        <el-button type="text" size="small">修改</el-button>
                                        <el-button type="text" size="small">删除</el-button>
                                    </template>
                                    </el-table-column>
                            </el-table>
</div>
<#Block:end>



<script type="text/javascript">

    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        const Api = System.require("Api");

        var ContentComponent = {
          name: "TestComponent",
          data: function () {
            return {
                loading: false,
                list: []
			}
          },
          mounted() {
          },
          created(){
            // $.get("https://finance.pae.baidu.com/vapi/v1/getquotation?all=1&srcid=5353&pointType=string&group=quotation_minute_ab&market_type=ab&new_Format=1&finClientType=pc&query=000875&code=000875", {}, function(data){
            //     console.log(data)
            // }, "json");
            this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
                this.loading = true;
                Api.goods.get(res => {
                    this.loading = false;
                    res.forEach((v1, k1) => {
                        System.each(v1['bills'], (k2, v2) => {
                            System.each(v2['childs'], (k3, v3) => {
                                this.list.push(v3);

                            });
                        });
                    });
                    
                    this.loading = false;
                })
            
            
            
          },
          methods: {

		      },
          template: `<#=block id="views.test.index" />`
        };

        System.export("views.test.index", ContentComponent);
    });
</script>

