<#define _TITLE_="商品列表" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/goods/index/" />

<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'添加商品','href':'__INDEX__goods/create','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->


<#Block:begin id="views.goods.index">
<div>
    <div v-loading.fullscreen.lock="loading">
        <div class="sectionButton-B1">
            <router-link class="btn save" to="/goods/add">添加商品</router-link>
            <el-button class="R" round>总额：{{ total }}</el-button>
        </div>
        
        <div v-for="item in list">
            <p class="mt20 mb5" style="font-size: 20px;">商店名称：{{ item.shop_name }} |  积分：{{ getShopPoints(item.bills) }}</p>
            <div class="sectionBorder-A3 mtb0">
                <div class="sectionTable-B1 sectionTable-B1-5">
                    <div class="sectionTitle-A4 sectionTitle-A4-2 sectionTitle-A4-3 sectionFloat-A1 sectionBg-A2">
                        <ul class="clear" style="font-weight: bold;">
                            <li class="first col-1" style="width:21%;">小票信息</li>
                            <li class="col-2" style="width:79%;">商品信息</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div> 
                <table-component v-on:total-cost="totalCost" :list="item.bills"></table-component>
            </div>
    
        </div>
    </div>
</div>
<#Block:end>


<#include file="~/components/TableComponent.html" />

<script type="text/javascript">
    LAM.run(function () {
        'use strict';
        var System = this;
        const Api = System.require("Api");

        let total = 0;


        var ContentComponent = {
              name: "goodsIndex",
              props: [],
              components: {
                'table-component': System.require('goods.index.components.table')
              },
              data: function () {
                return {
                    'total': 0,
                    'loading': false,
                    'list': []
                }
              },
              created(){
                this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
                this.loading = true;
                Api.goods.get(res => {
                    this.list = res
                    this.loading = false;
                })
              },
              methods: {
                totalCost(n) {
                    total += parseInt(n);
                    this.total = total;
                },
                getShopPoints(arr) {
                    let points = 0;
                    System.each(arr, (i,item)=>{
                        points += parseFloat(item.points);
                    });
                    return points.toFixed(2);;

                },
                'isset': function(value) {
                    return System.isset(value);
                }
              },
              template: System.Template.getBlock('views.goods.index')
            };

        System.export('views.goods.index', ContentComponent);

    });
</script>

