<#define _TITLE_="思维导图详细页" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/mindline/detail/" />

<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>


<#Block:begin id="views.mindline.detail">
<div v-loading="loading">
	<div class="mb10">
		<el-button @click="save()">保存</el-button>
		<el-button @click="goto()">返回列表</el-button>
	</div>
    <mindmaps-component :list="D"></mindmaps-component>
</div>

<#Block:end>

<#include file="~/components/MindMapComponent.html" />
<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        const Api = System.require("Api");


        var ContentComponent = {
            'name': "mindlineDetail",
			components: { 
				MindmapsComponent : System.require("views.mindline.detail.components.MindMapComponent")
			},
			data(){
				return {
					loading: true,
					key: "",
					D: {
						data: [{ name: "思维导图" }]
					}
					
				};
			},
			created(){
				
				this.key = this.$route.params.key;
				const key = this.key;
				Api.mindmaps.show({ key }, res => {
					if(res.status){
						try {
							const content = res.data.content;
							this.D.data = JSON.parse(content);
							this.loading = false;
							const message = "数据加载成功";
									this.$message({
										message,
										type: 'success'
										});
						} catch (err) {
							this.$message.error('Error: ' + err.message);
						}
						
					} else {
						this.$message('数据加载失败');
					}
				});
			},
			methods: {
				goto() {
					this.$confirm('保存过了吗？', '提示', {
                        confirmButtonText: '已保存了',
                        cancelButtonText: '还没保存',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '正在跳转到列表页。。。'
                        });
                        this.$router.push('/mindline/index')
                    })
					
				},
				save() {
					this.loading = true; 
					const key = this.key;
					const content = this.D.data;
					const data = {
						key,
						"content": JSON.stringify(content)
					};

					Api.mindmaps.editByKey(data, res => {
						if(res.status){
							this.loading = false;
							const message = "保存成功";
							this.$message({
								message,
								type: 'success'
								});
						}
					});
					
				}
			},
            template: System.Template.getBlock('views.mindline.detail')
        };

        System.export('views.mindline.detail', ContentComponent);
    });
</script>

<style type="text/css">
</style>




