<#Block:begin id="crumb" override="1:0">
<div id="crumb" class="sectionCrumb-A1 mb20">
    <ul class="clear">
        <li v-for="item in list">
        <span v-if="item.href">
          <a :title="item.title" :href="item.href" class="linkBlue">{{ item.name }} </a> &nbsp;&gt;&nbsp;
        </span>
        <strong v-else>{{ item.name }}</strong>
        </li>
    </ul>
</div>
<#Block:end>

<#Block:begin id="crumbComponent">
<script type="text/javascript">
    var crumbComponent = LAM.run(function(){
        'use strict';
        var System = this;

        var crumbComponent = {
          name: "crumbComponent",
          props: {
            "list": Object
          },
          data: function () {
            return {
            }
          },
          methods: {
          },
          template: System.Template.getBlock('crumb')
        };

        return crumbComponent;
    });
</script>
<#Block:end>