<#define __SERVER__="{#LAM.SERVER#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/shop/index" /> #end#
<#define __BILLID__="{#LAM.md5(LAM.hash())#}" />
<#define _TITLE_="添加商品" />

<#extends title="_TITLE_" data="{'list':[
{'name':'商品','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'_TITLE_'}
]}" />


<#Block:begin id="goodsInput">
<li class="L ml10">
    <span v-if="warning" class="warning">*</span> <label> {{ label }} : </label>
    <input :type="type" :name="name" :style="input_style" :class="'text name ' + input_class" v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)">
      <span class="font-14 font-bold" v-text="unit"></span>
    <span class="warning" v-text="error"></span>
</li>
<#Block:end>


<#Block:begin id="goods">
<div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
    <ul class="clear mb5 row">
        <input-component v-model="list.name" :name="list.name" label="商店名称" input_style="width:120px;"></input-component>
        <input-component v-model="list.number" :name="list.number" label="数量" input_style="width:45px;" value="" input_class="number"></input-component>
        <input-component v-model="list.weight" :name="list.weight" label="重量" input_style="width:45px;" value="1" input_class="weight"></input-component>
        <input-component v-model="list.single_price" :name="list.single_price" label="单价" input_style="width:45px;" value="1" input_class="single_price"></input-component>
        <input-component v-model="list.final_price" :name="list.final_price" label="结算价格" input_style="width:45px;" value="1" input_class="final_price"></input-component>
    </ul>
</div>
<#Block:end>

<#Block:begin id="content">
<div>
    <form class="form-horizontal">
        <div class="sectionWrap-A5">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1" style="margin-bottom: 100px;">
                <ul class="clear">
                    <li class="L ml5 sectionButton-B1">
                        <label class="L">店铺：<span class="warning">*</span></label>
                        <select class="L ml10" v-model="shop_id" style="width:115px;">
                            <option value="0">请选择</option>
                            <option v-for="v in shops" :value="v.id" v-text="v.name"></option>
                        </select>
                        <span class="warning" v-text="shop_id_error"></span>
                        <a href="__INDEX__shop/create" class="btn save L ml5">添加店铺</a>
                    </li>
                    <li class="R sectionButton-B1">
                        <button type="button" @click="handelAdd" class="btn save L mr15">添加</button>
                        
                    </li>
                    <input-component v-model="bill_id" label="账单号" :error="bill_id_error" input_style="width:120px;" input_class="final_price"></input-component>
                    <input-component v-model="discount" label="折扣价" :error="discount_error" input_style="width:30px;" input_class="discount"></input-component>
                    <input-component v-model="create_by" :error="create_by_error" input_style="width:150px;" label="创建日期"></input-component>
                    
                </ul>
            </div>
            <div>
                
                <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15" v-for="(item, i) in list" :key="i">
                    <ul class="clear mb5 row">
                        <input-component v-model="item.name" :error="item.error.name" label="名称" @input="validate(i)" input_style="width:120px;"></input-component>
                        <input-component v-model.number="item.number" :error="item.error.number" type="number" @input="result(i)" label="数量" input_style="width:45px;" input_class="number"></input-component>
                        <input-component v-model.number="item.weight" :error="item.error.weight" @input="result(i)" label="重量" unit="g" input_style="width:65px;" input_class="weight"></input-component>
                        <input-component v-model.number="item.single_price" :error="item.error.single_price" @input="result(i)" label="单价" input_style="width:45px;" input_class="single_price"></input-component>
                        <li class="L ml10">
                            <label> 结算价格 ：</label>
                            <span class="font-16 font-bold" v-text="item.final_price"></span>
                            <span class="warning" v-text="item.error.final_price"></span>
                        </li>
                        <li class="R sectionButton-B1">
                            <button type="button" @click="handelCopy(i)" class="btn save L mr15">复制</button>
                            <button type="button" @click="handelRemove(i)" class="btn save L mr15">删除</button>
                        </li>
                        <!-- <goods-component :list="item" :index="i"></goods-component> -->
                    </ul>
                </div>
            </div>
            <div class="row mb10">
                <div class="col-sm-12">
                    总金额: <span class="font-24 font-bold" v-text="total"></span>
                </div>
            </div>

            <div v-if="total > 0" class="clear mb10 sectionForm-A1 sectionForm-A1-1-1 sectionForm-A2">
                <button type="button" v-on:click="submit()" class="btn save L mr15">提交</button>
            </div>
        </div>
    </form>
</div>
<#Block:end>


<#Block:begin id="ContentComponent">
<script type="text/javascript">
    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

            var inputComponent = {
              props: {
                'name': String,
                'error': {
                    type: String,
                    default: ""
                },
                'unit': {
                    type: String,
                    default: ""
                },
                'type': {
                    type: String,
                    default: "text"
                },
                'label': String, 
                'warning': {
                    type: Boolean,
                    default: true
                }, 
                'value': [String, Number], 
                'input_style': {
                    type: String,
                    default: ''
                }, 
                'input_class': {
                    type: String,
                    default: ''
                }
              },
              data: function () {
                return {
                }
              },
              methods: {
              },
              template: System.Template.getBlock('goodsInput')
            };

            var goodsComponent = {
              props: {
                index: Number,
                list: {
                    type: Object
                }
              },
              data: function () {
                return {
                    'picked': '',
                    'n': 0

                }
              },
              methods: {
                handelClick: function (i) {
                    n = i;
                }
              },
              template: System.Template.getBlock('goods')
            };



            var n = 0;

            const NAMES = {
                        'shop_id':"店铺",
                        'bill_id':"账单号",
                        'discount': "折扣价",
                        'create_by': "创建日期",
                        'name': "名称",
                        'number':"数量",
                        'weight':"重量",
                        'single_price': "单价",
                        'final_price': "结算价格"
                    };

            var goods = System.createDict();
            goods.name = "",
            goods.number = 1,
            goods.weight = 0;
            goods.single_price = parseFloat(0).toFixed(2);
            goods.final_price = parseFloat(0).toFixed(2);

            goods.error = System.createDict();
            goods.error.name = "";
            goods.error.number = "";
            goods.error.weight = "";
            goods.error.single_price = "";
            goods.error.final_price = "";

            

            var ContentComponent = {
              name: "ContentComponent",
              props: [],
              data: function(){
                return {
                    picked: '',
                    n: 0,
                    shop_id:"",
                    shop_id_error:"",
                    create_by: "",
                    create_by_error: "",
                    bill_id: "__BILLID__",
                    bill_id_error: "",
                    discount: 0,
                    discount_error: "",
                    shops: __DATA__.data,
                    list: [System.clone(true, goods)]
                };
              },
              components: {
                'input-component': inputComponent,
                'goods-component': goodsComponent
              },
              computed: {
                total: function(){
                    var result = 0.00;
                    System.each(this.list,function(){
                        result += parseFloat(this.final_price);
                    });
                    result = parseFloat(result).toFixed(2);
                    if (!System.isNumeric(result)) result = parseFloat(0).toFixed(2);

                    return result;

                }
              },
              methods: {
                handelAdd: function () {
                    this.handelClick();
                    this.list.push(System.clone(true, goods));
                },
                handelClick: function () {
                    this.n++;
                },
                handelCopy: function (i) {
                    this.handelClick();
                    this.list.insertAt(System.clone(true, this.list[i]),i+1);
                },
                handelRemove: function (i) {
                    if (this.list.length > 1) {
                        this.n--;
                        this.list.removeAt(i);
                    }
                    
                },
                init: function(){
                    System.each(this.list,function(){
                        this.error.name = "";
                        this.error.number = "";
                        this.error.weight = "";
                        this.error.single_price = "";
                        this.error.final_price = "";
                    });
                    this.shop_id_error = "";
                    this.create_by_error = "";
                    this.bill_id_error = "";
                    this.discount_error = "";
                },
                validate: function(i) {
                    this.list[i].error.name = "";
                    this.list[i].error.number = "";
                    this.list[i].error.weight = "";
                    this.list[i].error.single_price = "";
                    this.list[i].error.final_price = "";

                    const MSG = "必须填写";
                    let error = this.list[i]["error"];
                    if ("" == this.list[i].name.trim()) error.name = NAMES.name + MSG;
                    if (this.list[i].weight <= 0) error.weight = NAMES.weight + MSG;
                    if (this.list[i].single_price <= 0) error.single_price = NAMES.single_price + MSG;

                },
                result:function(i){
                    let single_price = this.list[i].single_price;
                    let weight = this.list[i].weight;
                    let number = this.list[i].number;

                    single_price = parseFloat(single_price).toFixed(2);
                    weight = parseInt(weight);
                    number = parseInt(number);


                    if (!System.isNumeric(single_price)) single_price = parseFloat(0).toFixed(2);
                    if (!System.isNumeric(weight)) weight = 0;
                    if (!System.isNumeric(number)) number = parseFloat(0).toFixed(2);

                    this.list[i].single_price = single_price;
                    this.list[i].weight = weight;
                    this.list[i].number = number;

                    let price = single_price  * number;
                    price = parseFloat(price).toFixed(2);
                    if (!System.isNumeric(price)) price = parseFloat(0).toFixed(2);
                    this.list[i].final_price = price;

                    this.validate(i);

                },
                submit: function() {
                    this.init();

                    let _this = this;
                    let names = [], numbers = [], weights = [], single_prices = [], final_prices = [];
                    const shop_id = this.shop_id;
                    const bill_id = this.bill_id;
                    const discount = this.discount;
                    const create_by = this.create_by;
                    System.each(this.list,function(){
                        names.push(this.name);
                        single_prices.push(this.single_price);
                        weights.push(this.weight);
                        numbers.push(this.number);
                        final_prices.push(this.final_price);
                    });

                    $.post("__SERVER__/goods/add",{
                        'shop_id':shop_id,
                        'bill_id':bill_id,
                        'discount':discount,
                        'create_by':create_by,
                        'name':names,
                        'number':numbers,
                        'weight':weights,
                        'single_price':single_prices,
                        'final_price':final_prices
                    },function(data){
                        if(data.status){
                            alert(data.message);
                            System.redirect(System.INDEX+"goods/index");
                        }else{
                            alert(data.message);
                            System.each(data.errors,function (key,value) {
                                if(System.isString(value)) {
                                    _this[key+'_error'] = NAMES[key] + value;;

                                }else {
                                    System.each(value,function (i) {
                                        _this.list[i]["error"][key] = NAMES[key] + this;
                                    });
                                }

                            });
                        }
                    },'json');

                }
              },
              watch: {
                _list: {
                    handler: function(){
                        // System.each(this.list,function(){
                        //     this.single_price = parseFloat(this.single_price).toFixed(2);
                        //     this.weight = parseFloat(this.weight).toFixed(2);
                        //     this.number = parseInt(this.number);
                        //     let price = this.single_price * this.weight * this.number;
                        //     this.final_price = parseFloat(price).toFixed(2);
                        // });
                    },
                    deep: true
                }
              },
              template: System.Template.getBlock('content')
            };

            System.export('ContentComponent', ContentComponent);
    });
</script>
<#Block:end>

<style type="text/css">
    .sectionWrap-A5{width:auto;margin:0 auto;}
    .sectionForm-A1-1-1 label{margin:0; width: auto; text-align: left;}
    .sectionForm-A1-1 .text.name{width: 66px;}
</style>

