<#define __CSRF_TOKEN__="{#LAM.require("this").csrfToken#}" />
<#define __API__="{#LAM.API#}" />
<#define __IMAGE__="{#LAM.IMAGE#}" />
<#define __MYCOMMON__="{#LAM.MYCOMMON#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define __COMMON__="{#LAM.COMMON#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define _LAYOUTS_="{#LAM.LAYOUTS#}" />
<#define @COMPONENTS="_LAYOUTS_/components" />
<#define __DATAPATH__="{#LAM.DATA#}" />
<#define __USER__="{#-System.require("this").content.user-#}" />
#define# __MENU__ <#include file="__DATAPATH__/menu.json" /> #end#

<#import path="/Tab.class,/Tools.class" root="__CLASSPATH__" write="1" befor="1" />
<#import path="/api.js" root="__API__" />

<#import path="/vue/vue.js" root="__PLUGINS__" write="1" befor="1" />

<!--Del:begin-->

<#import path="
/vue-router@2.0.0/dist/vue-router.js
,/vuex@2.0.0/dist/vuex.js
" root="https://unpkg.com" write="1" befor="1" />

<!--Del:end-->



<#import type="css" path="/element-ui/lib/theme-chalk/index.css" root="https://unpkg.com" befor="1" />
<#import path="/elementui/index.js" root="__PLUGINS__" write="1" befor="1" />

<#import path="/layer-v3.1.1/layer/layer.js" root="__PLUGINS__" write="1" befor="1" />
<#import type="css" path="/css/lib/bootstrap" root="__COMMON__" befor="1" />
<#import type="css" path="/global,/lib" root="__CSS__" befor="1" />

<#import type="css" path="/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css" root="__PLUGINS__" befor="1" />
<#import path="/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" root="__PLUGINS__" write="1" befor="1" />

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="{#-title-#}" />
  <meta name="description" content="{#-title-#}" />
  <meta name="csrf-token" content="__CSRF_TOKEN__">
  <!#LAM_INIT/>
  <!#CSS/>
  

<#Block:begin override="1:0" id="title" data="{'title':'{#-title-#}'}">
  <title><%=title%></title>
<#Block:end>

<#=block id="title" data="{}" />

</head>

<body>

<div id="app">
  
    <el-container>
      <el-drawer
      title=""
      size="200px"
      direction="ltr"
      :visible.sync="drawer"
      :with-header="false">
      <el-aside width="200px"><menu-component :list="menu" :title="title"></menu-component></el-aside>
    </el-drawer>
      
      <el-container>
        <div id="header" class="clearfix clear">
          <el-row>
            <el-col :span="23">
              <el-header><header-component :name="user.name" :age="user.age"></header-component></el-header>
            </el-col>
            <el-col :span="1">
              <el-tooltip content="点我显示侧边栏" placement="right">
                <div class="sectionBtn-A2" @click="drawer = true">
                    <span class="mb3"></span>
                    <span class="mb3"></span>
                    <span></span>
                </div>
              </el-tooltip>
            </el-col>
          </el-row>
          
        </div>
        
        <div id="content">
          <div class="ml20 mb30"><crumb-component :list="crumbData"></crumb-component></div>
          <el-main>
            <content-component ref="content"></content-component>
            <el-backtop></el-backtop>
          </el-main>
        </div>
        
      </el-container>
    </el-container>
</div>

<style type="text/css">
  
  #header {
    position: fixed;
    z-index: 999999;
    top: 0; 
    left: 0;
    background-color: #4a759f;
    padding: 5px 20px;
    width: 100%;
    height: 50px;
  }
  #content {
    margin-top: 70px;
    width: 100%;
  }
  .sectionBtn-A2{
    background-color: transparent;
  }
  .sectionBtn-A2 span {
    /* width: 29px; 
    height: 5px; */
    background-color: #e3e5eb;
    
  }
</style>




<#include file="@COMPONENTS/MenuComponent.html" />
<#include file="@COMPONENTS/MobileMenuComponent.html" />
<#include file="@COMPONENTS/HeaderComponent.html" />
<#include file="@COMPONENTS/CrumbComponent.html" />
{#-content-#}
<!#JS/>
<script type="text/javascript">
    var vm = LAM.run(function(){
        'use strict';
        var System = this;

        // var D = System.require("this").content;

        $(function(){
            
            $(".mCustomScrollbar").mCustomScrollbar({
              advanced:{ updateOnContentResize: false }
            });

        });

        var vm = new Vue({
              data: function(){
                return {
                    drawer: false,
                    menu: __MENU__,
                    title: "喜鹊筑家旗舰店",
                    user: __USER__,
                    crumbData: {#-D.list-#}
                };
              },
              components: {
                'menu-component': System.require('MenuComponent'),
                'mobile-menu-component': System.require('MobileMenuComponent'),
                'header-component': System.require('HeaderComponent'),
                'crumb-component': System.require('CrumbComponent'),
                'content-component': System.require('ContentComponent')
              },
              computed: {
              },
              methods: {
              },
              watch: {
              }
            }).$mount("#app");

            return vm;

    });

</script>

</body>
</html>
