@charset "utf-8";
/*font*/
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kejian:before { content: "\e611"; }
.icon-duihao:before { content: "\e60b"; }
.icon-sousuo:before { content: "\e603"; }
.icon-home:before { content: "\e602"; }
.icon-star:before { content: "\e600"; }
.icon-zan2:before { content: "\e613"; }
.icon-time:before { content: "\e60e"; }
.icon-shangjiantou:before { content: "\e605"; }
.icon-xiajiantou:before { content: "\e607"; }
.icon-xiangshangicon:before { content: "\e61c"; }
.icon-zuo:before { content: "\e609"; }
.icon-triangle:before { content: "\e617"; }
.icon-shoucang1:before { content: "\e614"; }
.icon-quanping:before { content: "\e61d"; }
.icon-liebiao:before { content: "\e616"; }
.icon-tubiao12:before { content: "\e620"; }
.icon-tenbo:before { content: "\e60d"; }
.icon-chevron-right:before { content: "\e618"; }
.icon-chevron-left:before { content: "\e619"; }
.icon-infenicon02:before { content: "\e608"; }
.icon-you:before { content: "\e60a"; }
.icon-indexfenlei:before { content: "\e606"; }
.icon-shang:before { content: "\e61a"; }
.icon-xinlangweibo:before { content: "\e60f"; }
.icon-qqkongjian:before { content: "\e610"; }
.icon-dingwei:before { content: "\e601"; }
.icon-aixin:before { content: "\e60c"; }
.icon-fullscreen-exit:before { content: "\e61e"; }
.icon-aixin1:before { content: "\e604"; }
.icon-duihuagengduo:before { content: "\e615"; }
.icon-weixin:before { content: "\e612"; }
.icon-cha:before { content: "\e61b"; }
.icon-bofang:before { content: "\e61f"; }