<#define __LAMPATH__="{#LAM.classPath#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />


<#define _TITLE_="类别列表" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/sorts/" />

<!--Del:begin-->
<#extends title="类别" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'类别列表','href':'__INDEX__sorts/index','title':''},
{'name':'_TITLE_'}
]}" />

<!--Del:end-->

<#Block:begin id="views.sorts.index">
<div v-loading="loading" class="clearfix">
    <li class="R sectionButton-B1">
        <button type="button"  @click="action(1)" class="btn">新增</button>
    </li>
    <el-input
        placeholder="输入关键字进行过滤"
        v-model="filterText">
    </el-input>
    
    <el-tree
      :data="list"
      :props="defaultProps"
      :filter-node-method="filterNode"
      ref="tree"
      :expand-on-click-node="false">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span class="mr30" @click="() => action(2, data)">
            {{ node.label }}
        </span>
        <span>
          <el-button
            type="text"
            size="mini"
            @click="() => action(1, data)">
            添加
          </el-button>
          <el-button
            type="text"
            size="mini"
            @click="() => action(3, data)">
            删除
          </el-button>
        </span>
      </span>
    </el-tree>


    <el-dialog
    :title="dialogTitle"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    width="">
    <el-form :model="form" :rules="rules" ref="validateForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="类别：" prop="type">
            <el-tree-select :data="form" :list="list"></el-tree-select>
        </el-form-item>
        <el-form-item :error="formError.name" label="名称：" prop="name">
            <el-input v-model="form.name"></el-input>
        </el-form-item>
        
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">提 交</el-button>
    </span>
    </el-dialog>
</div>
<#Block:end>


<#include file="__COMPONENTS__/TreeSelectComponen.html" />

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        const Api = System.require("Api");

        var ContentComponent = {
            'name': 'sortsIndex',
            data(){
                return {
                    'rules': {
                        'name': [
                            { 'required': true, 'message': '请输入名称', 'trigger': 'blur' }
                        ]
                    },
                    'loading': true,
                    'dialogVisible': false,
                    'dialogTitle': "提示",
                    'filterText': '',
                	'list': [],
                    'defaultProps': {
                        'children': 'child',
                        'label': 'name'
                    },
                    'form':{
                        'active':"",
                        'sid': "-1",
                        'id': "-1",
                        'sortName': "",
                        'name': ""
                    },
                    'formError':{
                        'name': ""
                    }
                };
            },
            'components': {
                "el-tree-select": System.require('components.TreeSelectComponen')
            },
            created() {
                this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
                Api.sorts.get(res => {
                    this.loading = false;
                    this.list = res;
                })
            },
            'methods': {
                filterNode(value, data, node) {
                    if (!value) return true;
                    // return data.name.indexOf(value) !== -1;
                    return node.data.name.indexOf(value) !== -1 || (node.parent.data.name && node.parent.data.name.indexOf(value) !== -1)
                },
                ok() {
                    this.dialogVisible = false
                },
                submit() {
                    this.$refs.validateForm.validate((valid) => {
                        if (!valid) {
                            return false;
                        }
                        });
                    this.initError();
                    
                    switch(this.form.active) {
                        case 1:
                            this.add();
                        break;
                        case 2:
                            this.modify(this.form.id);
                        break;
                    }

                },
                initError() {
                    this.formError.sid = "";
                    this.formError.name = "";
                },
                init() {
                    this.form.sid = 0;
                    this.form.sortName = '';
                    this.form.name = '';
                },
                action(active, item) {
                    this.init();
                    this.initError();
                    this.form.active = active;
                    console.log(item)

                    switch(active) {
                        case 1:
                            this.dialogTitle = "新增";
                            if(item) {
                                this.form.sid = item.id;
                                this.form.sortName = item.name;
                            }
                            break;
                        case 2:
                            this.dialogTitle = "修改";
                            if(item.pid > 0) {
                                Api.sorts.detail(item.pid, ({ data, status, message = 'error'}) => {
                                    if(status){
                                        this.form.sortName = data.name;
                                    }else{
                                        alert(message);
                                    }
                                },'json');
                            }
                            this.form.id = item.id;
                            this.form.name = item.name;
                            this.form.sid = item.pid;
                            break;
                        case 3:
                            this.remove(item.id);
                            return;
                    }


                    this.dialogVisible = true;
                    
                },
                getContent(){
                    Api.sorts.get(data => {
                        this.list = data;
                    });
                    
                },
                add() {
                    var v = this;
                    this.loading = true;
                    const pid = this.form.sid;
                    const name = this.form.name;
                    const sortName = this.form.sortName;

                    var data = { 
                        pid,
                        name
                    };
                    Api.sorts.add(data, D => {
                        this.loading = false;
                        if(D.status){
                            alert(D.message);
                            this.getContent();
                            this.ok();

                        }else{
                            // alert(D.message);
                            System.each(D.errors, (key,value) => {
                                this.formError[key] = value;
                            });
                        }

                    });
                },
                modify(id){
                    this.loading = true;
                    const pid  = this.form.sid;
                    const name = this.form.name;
                    const sortName = this.form.sortName;

                    Api.sorts.edit({
                        id,
                        pid,
                        name
                    }, data => {
                        this.loading = false;
                        if(data.status){
                            alert(data.message);
                            this.getContent();
                            this.ok();
                        }else{
                            // alert(data.message);
                            System.each(data.errors, (key,value) => {
                                this.formError[key] = value;
                            });
                        }
                    },'json');
                },
                confirm(func){
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        func()
                    }).catch(() => {
                        // this.$message('已取消删除')  
                    })
                },
                remove(id) {
                    this.confirm(()=> {
                        this.loading = true;
                        Api.sorts.delete(id, data => {
                            if(data.status){
                                this.getContent();
                            }else{
                                alert(data.message);
                                System.each(data.errors,function (key,value) {
                                    alert(value)
                                });
                                
                            }
                            this.loading = false;
                        })
                    })
                },
            	isArray(value) {
	                return System.isArray(value);
	            }
            },
            'watch': { 
                filterText(val) {
                    this.$refs.tree.filter(val);
                }
            },
            template: System.Template.getBlock('views.sorts.index')
        };


        System.export('views.sorts.index', ContentComponent);
    });
</script>


<style type="text/css">
    .sectionButton-B1 .btn{}
    .sectionButton-B1 .btn a{color:#fff;}

</style>