<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/goods/index/components/" />

<#Block:begin id="goods.index.components.table">
<div>
    <div v-for="(v1, item, i) in list" class="sectionBorder-A3 mt1 mb5 ml2" v-bind:style="isset(v1.bill_id) ? 'padding:1px;' : ''">
        <div class="sectionTable-B1 sectionTable-B1-5">
            <div class="sectionTitle-A4 sectionTitle-A4-2 sectionTitle-A4-3 sectionFloat-A1 sectionBg-A2">
                <ul class="clear">
                    <div v-if="isset(v1.bill_id) && i > 0" style="border-bottom: 3px solid #fff;"></div>
                    <div v-if="isset(v1.bill_id)">
                        <li v-if="v1.bill_id != 0" class="first col-7" style="width:21%;">
                            <bill-component v-for="(item, key) in getBill(
                                                                    v1.bill_id,
                                                                    getTotalPrice(v1.childs),
                                                                    v1.discount,
                                                                    v1.points,
                                                                    v1.create_at)" :key="key" :item="item"></bill-component>
                        </li>
                        <li v-else class="first col-7" style="width:21%;font-weight: bold;">这些商品没建立订单</li>

                        <li class="first col-1" style="width:79%;">
                            <el-table
                                :data="v1.childs"
                                height="200"
                                stripe
<!--Del:begin-->

                                show-summary
                                :summary-method="getSummaries"
<!--Del:end-->
                                border
                                style="width: 100%">
                                <el-table-column
                                fixed
                                sortable
                                prop="id"
                                label="id"
                                width="80">
                                </el-table-column>
                                <el-table-column
                                prop="name"
                                label="商品名称"
                                width="300">
                                </el-table-column>
                                <el-table-column
                                prop="code"
                                label="商品条形码"
                                width="130">
                                </el-table-column>
                                <el-table-column
                                prop="single_price"
                                label="单价($)"
                                sortable
                                width="100">
                                </el-table-column>
                                <el-table-column
                                prop="final_price"
                                label="结果价($)"
                                width="100">
                                </el-table-column>
                                <el-table-column
                                prop="number"
                                label="数量"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="weight"
                                label="重量"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="unit"
                                label="单位"
                                align="center"
                                width="60">
                                </el-table-column>
                                <el-table-column
                                prop="create_at"
                                label="日期"
                                sortable
                                align="center"
                                width="100">
                                </el-table-column>
                                <el-table-column
                                    fixed="right"
                                    label="操作"
                                    align="center"
                                    width="130">
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small">查看</el-button>
                                        <el-button type="text" size="small">修改</el-button>
                                        <el-button type="text" size="small">删除</el-button>
                                    </template>
                                    </el-table-column>
                            </el-table>
                            
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<#Block:end>

<#include file="~/BillComponent.html" />

<script type="text/javascript">
    LAM.run(function () {
        'use strict';
        var System = this;

		var ContentComponent = {
              name: 'tableComponent',
              props: ["list"],
              data: function () {
                return {
                }
              },
              'components': {
                 'bill-component': System.require('goods.index.components.bill')
              },
              methods: {
                isset(value) {
                    return System.isset(value);
                },
                getTotalPrice(arr) {
                    let total_price = 0.00;
                    arr.forEach((item,index,arr)=>{
                        total_price += parseFloat(item.final_price);
                    });
                    return total_price.toFixed(2);

                },
                getBill(bill_id, total_price, discount, points, create_at) {
                    let total = parseFloat(total_price - discount).toFixed(2);
                    this.$emit('total-cost', total);
                    return [
                            {"name":"小票号","value": bill_id, "style": ""},
                            {"name":"日期","value": create_at, "style": ""},
                            {"name":"积分","value": points,"style":"color-green"},
                            {"name":"折扣","value": discount,"style":"color-green"},
                            {"name":"合计","value": total_price + ' - ' + discount +  ' = ' + total, "style":"color-red"}
                            ];
                },
                getSummaries(param) {
                    const { columns, data } = param;
                    const sums = [];
                    columns.forEach((column, index) => {
                        if (index === 0) {
                            sums[index] = '合计';
                            return;
                        }
                        const values = data.map(item => Number(item[column.property]));
                        if (!values.every(value => isNaN(value))) {
                            sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                            }, 0);
                        } else {
                            sums[index] = 'N/A';
                        }
                    });

                    return sums;
                }
              },
              template: System.Template.getBlock('goods.index.components.table')
            };
			System.export('goods.index.components.table', ContentComponent);
	});

</script>

<style>
    .sectionTable-B1-5 .col-8{width: 7%;}
    .sectionTable-B1-5 .col-9{width: 9%;}
</style>