<#define __PACKAGE__="stock.components" />
<#define __ID__="__PACKAGE__.StockChartComponent" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/stock/" />

<#import path="/echarts/5/files/dist/echarts.min.js" root="https://registry.npmmirror.com" write="1" befor="1" />


<#Block:begin id="__ID__">
<div>
    <el-dialog
    title="股票图表"
    :visible.sync="dialogVisible"
    :close-on-click-modal="true"
    width="100%">
    <div ref="chart" style="height:400px;"></div>
    
    </el-dialog>
</div>


<#Block:end>

<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;
        let myChart = null;
        var FormComponent = {
          name: "StockChartComponent",
          props: {
            data: Array
          },
          components: { },
          data() {
            return {
                'dialogVisible': false,
                'dataOfChart': {
                    title : {
                        text: '股票图表',
                        subtext: ''
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:[]
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : {
                        type: 'category',
                        boundaryGap: false,
                        data : []
                    },
                    yAxis : {
                        type : 'value',
                        axisLabel: {
                            formatter: '{value} ¥'
                        }
                    },
                    series : []
                }
            }
          },
          created(){
            this.init();
          },
          methods: {
            query() {

                this.dataOfChart.series = [];
                this.dataOfChart.legend.data = [];
                this.dataOfChart.xAxis.data  = [];

                System.each(this.data,(index, item)=>{
                  let obj = {
                      name: item.stock_name,
                      type:'line',
                      data: item.stock_price
                  };
                  this.dataOfChart.xAxis.data.push(item.created_at);
                  this.dataOfChart.legend.data.push(item.stock_name);
                  this.dataOfChart.series.push(obj);
                  
              });
              myChart.setOption(this.dataOfChart);
              
            },
            init() {
                System.listen(()=>{
                  if(this.$refs.chart)  {
                        myChart = echarts.init(this.$refs.chart, null, {
                          renderer: 'canvas',
                          useDirtyRect: false
                          });
                          this.query();
                      return true;
                      
                  }
                }, 1);
            }
          },
          template: `<#=block id="__ID__" />`
        };

        System.export('__ID__', FormComponent);
    });
</script>
