<#define __CLASSPATH__="{{LAM.classPath}}" />

<#import path="
/Tab.class
" root="__CLASSPATH__" write="1" befor="1" />

<ul class="list sectionFloat clearfix">
	<li class="cur">111</li>
	<li>222</li>
	<li>333</li>
</ul>
<div class="block">11111</div>
<div class="block hide">22222</div>
<div class="block hide">33333</div>


<script type="text/javascript">

	LAM.run(function(){
		'use strict';
		var System=this;
		var Tab = System.require("lam.Tab");


		$(function(){
			System.wait(function(){
				new Tab({
					'list':$('.list li'),
					'event':'click',
					'hover':false,
					'or':true,
					'class':'cur',
					'block':$('.block'),
					'fn':function(obj){
						var index=obj.this_index;
						obj.current.block.hide();
						obj.current.block.eq(index).show();

					}
				}).run();
			});






		});


	});

</script>