<#define __PACKAGE__="views.stock.list" />
<#define __ID__="__PACKAGE__.index" />
<#define _TITLE_="股票流水列表" />
<#define __LAMPATH__="{#LAM.classPath#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __DATAPATH__="{#LAM.DATA#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __NODE_MODULES__="{#LAM.NODE_MODULES#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/stock/" />


<#import path="/base/Cache.class,/base/Storage.class" root="__LAMPATH__" write="1" befor="1" />
<#import type="css" path="/tree" root="__CSS__" befor="1" />




<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>
<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'网页地址','href':'__INDEX__url/index','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->

<#Block:begin id="__ID__">

<div v-loading="loading">
    <el-row>
        <el-col :span="24">
            <div class="mb10" style="font-size: 18px;">
                <span>{{ stock_code }}  {{ stock_name }}</span>
                
                <span style="cursor: pointer;" @click="sidebarOfRight = true">百度股市通</span>
<!--Del:begin-->

                <el-badge style="margin-left: 10px;" :value="lups.length" class="item">
                    <el-button size="small" @click="showContent('up', lups)">涨停</el-button>
                </el-badge>
                <el-badge style="margin-left: 20px;margin-right: 20px;" :value="ldowns.length" class="item" type="success">
                    <el-button size="small" @click="showContent('down', ldowns)">跌停</el-button>
                </el-badge>

                
<!--Del:end-->

                <el-button size="small" @click="dialogUpAndDown = true">跌涨</el-button>

            </div>
            <div class="mb10">
                <el-button type="primary" @click="candlestick">K线图</el-button></el-button>
                <el-button type="primary" @click="line">折线图</el-button></el-button>
<!--Del:begin-->
                <el-button type="primary" @click="timeSharing">分时图</el-button></el-button>
<!--Del:end-->

            </div>
        </el-col>
        
    </el-row>
    
    <el-row>
        <el-button type="primary" @click="removeSelected">删除选择的</el-button>
        <el-button type="primary" @click="formAddStockDetailComponent">添加股票流水</el-button>
                <el-input
                    v-model="search"
                    size="mini"
                    placeholder="1:买,2:卖,3:买卖" />
    
                <el-input
                    v-model="searchDate"
                    size="mini"
                    placeholder="日期" />

        <el-col :span="24" class="plTableBox">
            <u-table
                class="table"
                :data="filter()"
                style="width: 100%"
                :height="500"
                use-virtual
                :row-height="55"
                border
                stripe>
                <u-table-column
                    fixed          
                    type="index"
                    width="50">
                </u-table-column>
                <u-table-column
                    fixed
                    label="选择"
                    width="100%">
                    <template slot-scope="scope">
                        <el-checkbox v-model="del_ids" :label="scope.row.id"></el-checkbox>
                    </template>
                </u-table-column>
                <u-table-column
                    fixed
                    sortable
                    prop="id"
                    label="ID"
                    width="100%">
                </u-table-column>
                <u-table-column
                    fixed
                    prop="stock_type"
                    label="交易类型"
                    align="center"
                    width="90">
                    <template slot-scope="scope">
                        <span style="color: red;" v-if="1 == scope.row.stock_type"><el-tag :type="'success'">买入</el-tag></span>
                        <span style="color: green;" v-else-if="2 == scope.row.stock_type"><el-tag :type="'danger'">卖出</el-tag></span>
                        <span style="color:#909399" v-else>-</span>
                      </template>
                </u-table-column>
                <u-table-column
                    fixed
                    prop="created_at"
                    label="日期"
                    align="center"
                    width="155px"
                    sortable>
                </u-table-column>
                <u-table-column
                    fixed
                    prop="stock_price"
                    label="价格"
                    sortable
                    width="80">
                    <template slot-scope="scope">
                        <span v-if="scope.row.stock_price > scope.row.close" style="color: #de524c;">{{ scope.row.stock_price }}</span>
                        <span v-else-if="scope.row.stock_price < scope.row.close" style="color: green;">{{ scope.row.stock_price }}</span>
                        <span v-else>{{ scope.row.stock_price }}</span>
                        
                    </template>
                </u-table-column>
                <u-table-column
                    fixed
                    prop="stock_number"
                    label="持有股数量"
                    width="95">
                </u-table-column>
                <u-table-column
                    fixed
                    prop="stock_deal_total"
                    label="成交量(股)"
                    width="90">
                </u-table-column>
                <u-table-column
                    prop="open"
                    label="今开"
                    sortable
                    width="80">
                    <template slot-scope="scope">
                        <span v-if="scope.row.open > scope.row.close" style="color: #de524c;">{{ scope.row.open }}</span>
                        <span v-else-if="scope.row.open < scope.row.close" style="color: green;">{{ scope.row.open }}</span>
                        <span v-else>{{ scope.row.open }}</span>
                        
                    </template>
                </u-table-column>
                <u-table-column
                    prop="close"
                    label="昨收"
                    sortable
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="highest"
                    label="最高"
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="lowest"
                    label="最低"
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="average"
                    label="均价"
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="lup"
                    label="涨停"
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="ldown"
                    label="跌停"
                    width="80">
                </u-table-column>
                <u-table-column
                    prop="change"
                    label="换手率(%)"
                    width="80">
                    <template slot-scope="scope">
                        {{ scope.row.change }}
                    </template>
                </u-table-column>
                <u-table-column
                    prop="amplitude"
                    label="振幅率(%)"
                    width="80">
                    <template slot-scope="scope">
                        {{ scope.row.amplitude }}
                    </template>
                </u-table-column>
                <u-table-column
                    prop="volume"
                    label="成交量"
                    width="120">
                </u-table-column>
                <u-table-column
                    prop="amount"
                    label="成交额"
                    width="120">
                </u-table-column>
                <u-table-column label="成交价(手续费之前)" width="200">
                    <template slot-scope="scope">
                      {{ scope.row.stock_price }} * {{ scope.row.stock_deal_total }} = {{ (scope.row.stock_price * scope.row.stock_deal_total).toFixed(2) }}
                    </template>
                </u-table-column>
                <u-table-column label="实价" width="200">
                    <template slot-scope="scope">
                        <span v-if="scope.row.stock_deal_total > 0">
                            <span v-if="2 == scope.row.stock_type">
                                {{ (scope.row.stock_price * scope.row.stock_deal_total).toFixed(2) }} - 5.73 = {{ (scope.row.stock_price * scope.row.stock_deal_total - 5.73).toFixed(2) }}
                            </span>
                            <span v-else>
                                {{ (scope.row.stock_price * scope.row.stock_deal_total).toFixed(2) }}
                            </span>
                            
                        </span>
                        <span v-else>0</span>
                        
                    </template>
                </u-table-column>
                <u-table-column 
                    label="持有估值(手续费之前)"
                    width="200">
                    <template slot-scope="scope">
                      <span>{{ scope.row.stock_price }} * {{ scope.row.stock_number }} = {{ (scope.row.stock_price * scope.row.stock_number).toFixed(2) }}</span>
                    </template>
                </u-table-column>
                <u-table-column 
                    label="是否清仓"
                    align="center"
                    width="50">
                    <template slot-scope="scope">
                      <span v-if="1 == scope.row.gone">是</span>
                    </template>
                </u-table-column>
                <u-table-column fixed="right" label="操作" width="120">
                    <template slot-scope="scope">
                        <el-button type="primary" @click="viewStockDetail(scope.row)" size="mini">查看</el-button>
                        <el-button type="danger" icon="el-icon-delete" circle @click="remove(scope.row.id)" size="mini"></el-button></el-button>
                    </template>
                </u-table-column>
                

            </u-table>
        </el-col>
    </el-row>

    <form-add-stock-detail-component :stock_id="stock_id" :stock_name="stock_name" @get-list="getListOfStockDetail" ref="stockDetailComponent" />
    <detail-stock-detail-component ref="viewStockDetailComponent" />
    <candlestick-chart-component :data="stockDate" :title="stock_id+'-'+stock_name" ref="candlestickChartComponent" />
    <line-chart-component :data="tableData" :title="stock_id+'-'+stock_name" ref="lineChartComponent" />
    <content-component :data="contents" :title="title" ref="contentComponent" />

<!--Del:begin-->
    <el-dialog  width="50%" custom-class="" :title="stock_code +' : '+ stock_name" :visible.sync="dialogTimeSharingVisible">
        <div style="height:400px;">
            <iframe :src="'//stockpage.10jqka.com.cn/HQ_v4.html#hs_'+ stock_code" width="100%" height="100%"  frameborder="0"></iframe>
        </div>
    </el-dialog>

<!--Del:end-->

<el-dialog  width="25%" custom-class="" :close-on-click-modal="true" title="跌涨" :visible.sync="dialogUpAndDown">
    <div>
        <el-row>
            <el-col :span="12">
                <span style="color: red;font-size: 16px;">涨</span>：{{ lups.length }}次
            </el-col>
            <el-col :span="12">
                <span style="color: green;font-size: 16px;">跌</span>：{{ ldowns.length }}次
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" style="height:400px;overflow: auto;">
                <div v-for="up in lups">
                    {{ up.created_at.split(" ")[0] }} | <span>{{ up.lup }}</span>
                </div>
            </el-col>
            <el-col :span="12" style="height:400px;overflow: auto;">
                <div v-for="down in ldowns">
                    {{ down.created_at.split(" ")[0] }} | <span>{{ down.ldown }}</span>
                </div>
            </el-col>
        </el-row>
        
    </div>
</el-dialog>

<el-drawer
  title="I am the title"
  :visible.sync="sidebarOfRight"
  :with-header="false"
  direction="rtl"
  size="90%">
  <iframe :src="'https://gushitong.baidu.com/stock/ab-'+stock_code" width="100%" height="100%" frameborder="0"></iframe>
</el-drawer>


</div>


<#Block:end>

<#include file="~/components/FormAddStockDetailComponent.html" />
<#include file="~/components/DetailStockDetailComponent.html" />
<#include file="~/components/candlestickChartComponent.html" />
<#include file="~/components/lineChartComponent.html" />
<#include file="~/components/ContentComponent.html" />


<script type="text/javascript">

    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        const Api = System.require("Api");


        var ContentComponent = {
            'name': "stockList",
            data(){
                return {
                    'sidebarOfRight':false,
                    'dialogTimeSharingVisible': false,
                    'dialogUpAndDown': false,
                    'title':'',
                    'contents': [],
                    'stock_id': "",
                    'stock_code': "",
                    'stock_name': "",
                    'loading': false,
                    'search': '',
                    'searchDate': '',
                    'del_ids': [],
                    'tableData': [],
                    'stockDate': [],
                    'lups':[],
                    'lups_str':[],
                    'ldowns':[],
                    'ldowns_str':[],
                    'size': 0

                    

                };
            },
            'components': {
                'form-add-stock-detail-component': System.require('stock.components.FormAddStockDetailComponent')
                ,'detail-stock-detail-component': System.require('stock.components.DetailStockDetailComponent')
                ,'candlestick-chart-component': System.require('stock.components.candlestickChartComponent')
                ,'line-chart-component': System.require('stock.components.lineChartComponent')
                ,'content-component': System.require('stock.components.ContentComponent')
            },
            beforeCreate() { },
            created() {
                this.stock_id = this.$route.params.stock_id;
                this.stock_code = this.$route.params.stock_code;
                this.stock_name = this.$route.params.stock_name;
                const stock_id = this.stock_id;

                Api.StockDate.index(stock_id, D => {
                    if(0 == D.status){
                        this.stockDate = D.data;
                        
                    }

                });
                
                // console.log(this.$route)


                this.$emit('change_crumb_data', [
                    { 'name': "股票列表", 'href': "/stock/index"},
                    { 'name': '_TITLE_' }
                ]);

                this.getListOfStockDetail();
                
                System.listen(()=>{
                    this.getListOfStockDetail();
                }, 250000);
            },
            'methods': {
                timeSharing(){
                    this.dialogTimeSharingVisible = true;

                },
                filter(){
                    this.searchDate = this.searchDate.trim();
                    let arr = this.tableData.filter(data =>{
                        const pattern = new RegExp(this.searchDate.split(' ').join('.*'), 'i');
                        return pattern.test(data.created_at);


                    }).filter(data => !this.search ||  this.search == data.stock_type || ('3' == this.search &&  ('1' == data.stock_type || '2' == data.stock_type)));
                    return arr;
                },
                tableRowClassName(row) {
                    if(row.stock_price > 0){
                        if (row.stock_price == row.lup && row.stock_price == row.highest) {
                            if(!this.lups_str.in_array(row.stock_date_at)){
                                this.lups_str.push(row.stock_date_at);
                                this.lups.push(row);
                                return 'warning-row';

                            }
                        } else if (row.stock_price == row.ldown && row.stock_price == row.lowest) {
                            if(!this.ldowns_str.in_array(row.stock_date_at)){
                                this.ldowns_str.push(row.stock_date_at);
                                this.ldowns.push(row);
                                return 'dangerous-row';
                            }
                        }

                    }

                    return '';
                },
                confirm(func){
                    this.$confirm('此操作将永久删除数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        func()
                    }).catch(() => {
                        this.loading = false;
                        // this.$message('已取消删除')  
                    })
                },
                removeSelected(){
                    const ids = this.del_ids;

                    if(ids.length > 0){
                        this.confirm(()=> {
                            this.loading = true;
                        //do something
                            Api.stockDetail.delete(ids, D => {
                                if(0 == D.status){
                                    this.getListOfStockDetail();
                                    this.del_ids = [];
                                    this.$notify({
                                        title: 'Success',
                                        message: D.message,
                                        type: 'success'
                                    });
                                        
                                } else {
                                    this.$notify({
                                        title: 'Warning',
                                        message: D.message,
                                        type: 'warning'});
                                }
                                
                                this.loading = false;
                            });
                        })

                    } else {
                        this.$notify({
                            title: 'Warning',
                            message: "请选择要删除的数据",
                            type: 'warning'});
                    }
                    
                },
                remove(id){

                    this.confirm(()=> {
                        this.loading = true;
                      //do something
                        Api.stockDetail.delete(id, D => {
                            if(0 == D.status){
                                this.getListOfStockDetail();
                                this.$notify({
                                    title: 'Success',
                                    message: D.message,
                                    type: 'success'
                                });
                                    
                            } else {
                                this.$notify({
                                    title: 'Warning',
                                    message: D.message,
                                    type: 'warning'});
                            }
                            this.loading = false;
                        });
                    })

                },
                viewStockDetail(data){
                    this.$refs.viewStockDetailComponent.show(data);
                    
                },
                formAddStockComponent(){
                    this.$refs.stockComponent.dialogVisible = true
                },
                showContent(title, contents){
                    this.title = title;
                    this.contents = contents
                    this.$refs.contentComponent.dialogVisible = true
                },
                formAddStockDetailComponent(){
                    this.$refs.stockDetailComponent.dialogVisible = true
                },
                candlestick(){
                    this.$refs.candlestickChartComponent.dialogVisible = true
                },
                line(){
                    this.$refs.lineChartComponent.dialogVisible = true
                },
                getListOfStockDetail(){
                    this.tableData = [];
                    this.size = 0;
                    this.load();
                },
                load(){
                    this.loading = true;
                    const size = ++this.size;
                    const rows = 0;
                    const stock_id = this.stock_id;

                    Api.stockDetail.index({stock_id, size, rows}, D => {
                        if(0 == D.status){
                            this.tableData = this.tableData.merge(D.data);
                            this.tableData.forEach(item => {
                                this.tableRowClassName(item);
                            });
                        }
                        this.loading = false;

                    });
                }
                
            },
            template: `<#=block id="__ID__" />`
        };

        System.export('__ID__', ContentComponent);
    });
</script>

<style type="text/css">

</style>




