<#define _TITLE_="商品列表" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/room/list/" />
#define# __DATA__ <#include file="{#LAM.DATA#}/list.json" /> #end#

<! #extends title="_TITLE_" data="{'list':[
{'name':'喜鹊筑家旗舰店','href':'###','title':''},
{'name':'商品管理','href':'###','title':''},
{'name':'_TITLE_'}
]}" --/>

<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<#Block:begin id="room.list.content">
<div>
    <!#include file="~/a.html" />
    <div class="clear mb10 sectionForm-A1 sectionForm-A1-1-2 sectionForm-A2 mb15">
        <button type="submit" class="btn save L mr15">+&nbsp;&nbsp;添加新案例 </button>
    </div>

    <form class="form-horizontal">
        <div class="sectionBorder-A3 mb15">
            <div class="sectionTable-B1 sectionTable-B1-5">
                <div class="sectionTitle-A4 sectionTitle-A4-2 sectionTitle-A4-3 sectionFloat-A1 sectionBg-A2">
                    
                    <ul class="clear">
                        <li class="first col-1">案例封面图片_TITLE_</li>
                        <li class="col-2">案例信息</li>
                        <li class="col-3">排序</li>
                        <li class="col-7">最后编辑时间</li>
                        <li class="col-8">操作</li>
                    </ul>
                </div>

                <room-list-component 
                v-on:swap="swap"
                 :list="roomList"></room-list-component>

            </div>

        </div>

        <div class="sectionPageing-A2 clear">
            <div class="R">
            </div>
        </div>
    </form>
</div>
<#Block:end>

<#include repeat="0" tp-data="{}" file="~/components/ListComponent.html" />
<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;

        var ContentComponent = {
          name: "roomList",
          props: {
          },
          components: {
            "room-list-component": System.require('room.list.components.roomListComponent')
          },
          data() {
            return {
                roomList: __DATA__.room

            }
          },
          methods: {
            swap(data, a, b) {
                if (a != b) {
                    let c = data[a];
                    this.$set(data, a, data[b])
                    this.$set(data, b, c)
                }
              }
              
          },
          template: System.Template.getBlock('room.list.content')
        };

        System.export('views.room.index', ContentComponent);
    });
</script>





