<#Block:begin id="menu">
<div>
    <div class="sectionBox sectionTitle-A2"><h2>{{ title }}</h2></div>
    
    <el-container class="">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
          <el-menu :unique-opened="true" :default-openeds="defaultOpeneds" :default-active="defaultActive" active-text-color="#ffd04b" class="el-menu-vertical-demo">
            <el-submenu v-for="(v1, i) in list" :key="i" :index="v1.index">
              <template slot="title"><i class="el-icon-message"></i>{{ v1.title }}</template>
              <el-menu-item-group v-if="v1.ul">
                <el-menu-item v-for="(v2, j) in v1.ul" :key="j" :index="v2.index">
                  <a :href="v2.href">{{ v2.title }}</a>
                </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
    </el-container>

</div>
<#Block:end>


<script type="text/javascript">
    //menu
    LAM.run(function() {
        'use strict';
        var System = this;
        const url = System.get("r");

        var MenuComponent = {
          name: "MenuComponent",
          props: {
            "title": String,
            "list": Array
          },
          created() {
            this.init();

          },
          data: function () {
            return {
              defaultOpeneds: [],
              defaultActive: "",
              isCollapse: true
            }
          },
          methods: {
            init() {
              for (let i =0; i < this.list.length; i++) {
                let item = this.list[i].ul;
                if (item && item.length > 0) {
                  for (let j =0; j < item.length; j++) {
                    if(item[j].href.indexOf("?r=") !== -1) {
                      let href = item[j].href.split('?r=')[1];
                      if (href.indexOf("&") !== -1) {
                        href = href.split("&")[0];
                        if (href === url) {
                          this.defaultActive = item[j].index;
                          // this.defaultOpeneds.push(item[j].index);
                          return;
                        }
                      } else {
                        if (href  === url) {
                          this.defaultActive = item[j].index;
                          // this.defaultOpeneds.push(item[j].index);
                          return;

                        }
                      }
                    }
                  }
                      
                }
              }

            }
          },
          template: System.Template.getBlock('menu')
        };

        System.export('MenuComponent', MenuComponent);

    });
</script>

<style type="text/css">
  .el-menu-item a { display: block;}
</style>