<#define __LAMPATH__="{#LAM.classPath#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __DATAPATH__="{#LAM.DATA#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />


#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#
#define# __DATA_LIST__ <#include repeat="0" tp-data="{}"  file="__SERVER__/url/index" /> #end#

<#import path="/base/Cache.class,/base/Storage.class" root="__LAMPATH__" write="1" befor="1" />
<#import type="css" path="/tree" root="__CSS__" befor="1" />

<#define _TITLE_="网页地址" />


<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<#extends title="_TITLE_" data="{'list':[
{'name':'网页地址','href':'###','title':''},
{'name':'网页地址','href':'###','title':''},
{'name':'_TITLE_'}
]}" />




<#Block:begin id="urlMenu">
    <div>
        <dl v-for="(item, key) in list" v-if="0 == level" class="border dl-1">
            <dd class="dd-1" v-bind:class="{ cur: (0 === key) }">
                <div class="title" :data-id="item.id" v-on:click="getContent($event, item.id, item.name)">{{ item.name }}</div>
                <div v-if="isArray(item.child)" class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1"><i></i></div>
            </dd>
            <menu-component v-if="isArray(item.child)" :list="item.child" level="1"></menu-component>
        </dl>
        <dd v-else class="dd-1" style="border-left: 1px solid #ccc;">
            <div class="title" :data-id="item.id" v-on:click="getContent($event, item.id, item.name)">{{ item.name }}</div>
            <dl v-if="isArray(item.child)" class="ml5">
                <menu-component :list="item.child" level="1"></menu-component>
            </dl>
        </dd>
    </div>
<#Block:end>


<#Block:begin id="content">
<div class="sectionWrap-A7 p-rel">
    <div class="sectionMenu-A1 sectionMenu-A1-3 j_sectionMenuA1 mCustomScrollbar" id="address_menu" data-mcs-theme="dark">
        <menu-component :list="list" level="0"></menu-component>
    </div>

    <div class="sectionWrap-A6">
        <div class="j_sectionBlock p-rel sectionBorder-A4 ">
            <div class="p25">

                <ul class="sectionTitle-A5 sectionTitle-A5-p0 clear mb10 sectionForm-A1 sectionForm-A1-1 sectionForm-A1-2 sectionFloat">
                    
                    <li class="mr20">
                        <label class="L w-auto">筛选：</label>
                        <input type="text" v-model="keyword" class="text w-160 L" value="" placeholder="请输入关键字">
                    </li>
                    <!-- <li class="L sectionButton-B1">
                        <a><button type="button" v-on:click="search()" class="btn">搜索</button></a>
                    </li> -->
                    <li class="R sectionButton-B1">
                        <a href="__INDEX__url/create"><button type="button" class="btn">添加</button></a>
                    </li>
                </ul>
                <div class="sectionFloat sectionWrap-A17 mb10">
                    <ul class="clear">
                        <li v-for="(item, index) in contents" class="L mr5 mb10 sectionButton-B1 sectionButton-B1-big">
                            <div class="btn">
                                <a :href="item.url" target="_blank">{{ item.name }}</a>
                                <a v-on:click="modify(item.id)">修改</a>
                                <a v-on:click="remove(item.id)" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="sectionPageing-A2 clear mb20">
                    <div class="R">
                        <#include repeat="0" tp-data="{}"  file="{#LAM.COMPONENTS#}/paging.html" />
                    </div>
                </div>

                <div class="sectionTitle-A5 sectionTitle-A5-p0 clear">
                    <div class="L">
                        <span class="mr5"><input class="v-negative3 js_allcheckbok" type="checkbox"></span>
                        <span>全选当前商品</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<#Block:end>


<#Block:begin id="contentComponent">
<script type="text/javascript">

    var contentComponent = LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        var cache = new System.Cache('url');
        var tools =new System.Tools();

        LAM.index = {
            'cache': cache
        };


        var menuComponent = {
          name: 'menuComponent',
          props: {
            'list': Array,
            'level': {
                type: String,
                default: 0
            }
          },
          data: function () {
            return {
            }
          },
          methods: {
            'isArray': function(value) {
                return System.isArray(value);
            },
            'getContent': function($event, id, title){
                this.$parent.getContent($event, id, title);
            }
          },
          template: System.Template.getBlock('urlMenu')
        };


        var contentComponent = {
            'name': "contentComponent",
            'data': function(){
                return {
                    'list': __DATA__,
                    'contents': [],
                    'keyword': "",
                    'title': "",
                    'sid': 0,
                    'cache': cache
                };
            },
            'components': {
                'menu-component': menuComponent
            },
            'methods': {
                'search': function() {
                    var vue = this;
                    var sid = this.sid;
                    var name = this.keyword;
                    
                    if(sid > 0) {
                        var wait = layer.load();
                        $.get('__SERVER__/url/search',{
                            'sid':sid,
                            'name':name
                        },function(D){
                            layer.close(wait);
                            if(D.status){
                                vue.contents = D.data;
                            }

                        },'json');
                    }

                },
                'getContent': function(e, sid, title){
                    this.sid = sid;
                    var vue = this;
                    this.title = title;
                    this.cache.find('id',sid,function (index,sid) {
                        var _this = this;
                        var list=null;
                        if(-1 === index){
                            var wait = layer.load();
                            $.get('__SERVER__/url/index',{
                                'sid':sid
                            },function(D){
                                layer.close(wait);
                                if(D.status){
                                    list = D.data;
                                    vue.contents = list;
                                    _this.add({list:list});
                                }else{
                                    list = "没有数据";
                                }

                            },'json');
                        }else{
                            vue.contents = this.get(index).list;
                        }
                    });

                    $("#crumb strong").text(this.title);
                    System.COOKIE.find('id',"1",function (index) {
                        if(-1 !== index){
                            var data = this.get(index);
                            data.sid = sid;
                            data.sort_name = title;
                            this.update(index,data);
                        }
                    });
                    
                },
                'remove': function(id){
                    layer.confirm('真的要删除吗？？？', {icon: 3, title:'提示'}, function(index){
                      //do something
                      System.redirect('__INDEX__url/delete&id=' + id);
                      layer.close(index);
                    });
                },
                'modify': function(id){
                    System.redirect('__INDEX__url/edit&id=' + id);
                }
            },
            'watch': {
                'keyword': function() { this.search();}
            },
            template: System.Template.getBlock('content')
        };

        $(function(){      
            System.COOKIE.find('id',"1",function (index) {
                if(-1 !== index){
                    var sid = this.get(index).sid;
                    if(sid > 0){
                        System.wait(function () {
                            $('#address_menu [data-id="'+sid+'"]').trigger('click');
                        },1);


                    }

                }
            });
            new System.Tab({
                'list':$('#address_menu .dd-1'),
                'event':'click',
                'class':'cur',
                'or':true,
                'fn':function () {
                    $("#mCSB_2_container").css("top", -this.offsetTop);
                }
            }).run();



        });

        return contentComponent;
    });
</script>
<style type="text/css">
    

    .sectionButton-B1 .btn a{color:#fff;}

</style>
<#Block:end>



