<div class="left-sidebar Z1">
    <div class="sidebar-holder">
        <ul class="nav  nav-list">

            <!-- sidebar to mini Sidebar toggle -->
            <li class="nav-toggle">
                <button class="btn  btn-nav-toggle text-primary"><i
                        class="fa fa-angle-double-left toggle-left"></i></button>
            </li>


            <li class="active"><a href="{{ROOT}}/controllers/index.html?file=content" target="iframe" data-original-title="Dashboard"><i
                    class="fa fa-home"></i><span class="hidden-minibar"> 首页 </span></a></li>

            <li class="submenu"> <!-- Example for second level menu -->
                <a class="dropdown" href="#" data-original-title="Tables"><i class="fa fa-test"></i><span
                        class="hidden-minibar">  实时监测 </span>
                </a>
                <ul>
                    <li>
                        <a href="{{ROOT}}/controllers/index.html?file=ElectricalBox" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器监测</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ROOT}}/controllers/index.html?file=JunctionBox" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-test-box"></i><span>汇流箱监测</span>
                        </a>
                    </li>
                    <!--<li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                            data-original-title="Basic"><i class="fa fa-table"></i><span>test</span>
                        </a>
                        <ul>
                            <li><a href="ElectricalBox.html" target="iframe" data-original-title="Basic" class="PL35"><i
                                    class="fa fa-table"></i><span>  01</span></a>
                            </li>


                        </ul>
                    </li>-->
                </ul>
            </li>


            <li class="submenu">
                <a class="dropdown" href="#" data-original-title="Pages"><i class="fa fa-bar-chart-o"></i><span
                        class="hidden-minibar"> 统计分析</span>
                </a>
                <ul>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe"  class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>电站运行分析</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab1" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电站日负荷曲线</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab2" target="iframe"  class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电站损耗分析</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab3" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电站性能分析</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4314" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  损失电量评估分析</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab4" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  组串电流离散率分析</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab5" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器对比分析</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab6" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  日最大出力对比图</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab7" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  辐射强度分布统计</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe"  class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>电量统计分析</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab8" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电量－辐射量对比图</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4322" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电能计量表查询</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab9" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  年度月发电量对比</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table39" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电能计量统计</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table41" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  指标统计分析</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe"  class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>设备运行分析</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab10" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  功率－辐射强度对比</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab11" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器转换效率对比</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table63" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器历史数据查询</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table65" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器直流电流统计</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab12" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器发电量对比</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab13" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器温度－功率对比</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab14" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器能量分布图</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab15" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  组串电流分布曲线</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table75" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  组串电流离散率统计</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/charts.html?file=tab16" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  气象仪参数曲线图</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe"  class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>逆变器运行报表</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4341" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器运行日报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4342" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器运行月报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4343" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器运行年报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4344" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器运行报表</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4345" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器发电量月报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4346" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器运行状态统计</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4347" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  异常逆变器日报</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>生产运行指标</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table93" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  生产运行指标月报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4352" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  生产运行指标年报</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4353" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  日指标计算</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4354" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  月指标计算</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4355" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  年指标计算</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>日常统计报表</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4361" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  综合数据报表</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="submenu"> <!-- Example for second level menu -->
                <a class="dropdown" href="#" data-original-title="UI Elements"><i class="fa fa-wrench"></i><span
                        class="hidden-minibar">  运维管理 </span>
                </a>
                <ul>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>原始数据查询</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4511" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  环境监测数据</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4513" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  汇流箱数据</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4512" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器数据</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4514" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  升压站数据</span></a>
                            </li>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4515" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  电能计量表数据</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>设备信息</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table4521" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  设备信息</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);" target="iframe" class="PL25"
                           data-original-title="Basic"><i class="fa fa-table"></i><span>电站结构</span>
                        </a>
                        <ul>
                            <li><a href="{{ROOT}}/controllers/table.html?file=table117" target="iframe" class="PL35"
                                   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器配置信息</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>

            <li class="submenu"> <!-- Example for second level menu -->
                <a class="dropdown" href="#" data-original-title="Tables"><i class="fa fa-table"></i><span
                        class="hidden-minibar">  系统设置 </span></a>
                <ul>
                    <li><a href="{{ROOT}}/controllers/admin.html?file=index" target="iframe" data-original-title="Basic" class="PL25"><i
                            class="fa fa-set-user"></i><span>  用户管理</span></a></li>
                </ul>
            </li>

            <li class=""><a href="{{ROOT}}/controllers/login.html?file=index" data-original-title="Dashboard"><i
                    class="fa fa-dashboard"></i><span class="hidden-minibar"> 登录 </span></a></li>
            <li class=""><a href="logout.html" data-original-title="Dashboard"><i
                    class="fa fa-dashboard"></i><span class="hidden-minibar"> 退出 </span></a></li>


        </ul>
    </div>
</div>

<script type="text/javascript" src="{{ROOT}}/js/jquery.accordion.source.js"></script>

<script type="text/javascript">
    LAMJS.main(function(){
        'use strict';
        var System=this;





        $(function(){
            $('ul.nav-list').accordion();

            $('li.nav-toggle > button').on('click',function(e){
                e.preventDefault();
                $('.hidden-minibar').toggleClass("hide");
                $('.site-holder').toggleClass("mini-sidebar");
                if($('.toggle-left').hasClass('fa-angle-double-left')){ $('.toggle-left').removeClass('fa-angle-double-left').addClass('fa-angle-double-right'); }
                else { $('.toggle-left').removeClass('fa-angle-double-right').addClass('fa-angle-double-left'); }


                if($('.site-holder').hasClass('mini-sidebar'))
                {
                    $('.sidebar-holder').tooltip({
                        selector: "a",
                        container: "body",
                        placement: "right"
                    });
                    $('li.submenu ul').tooltip('destroy');
                }
                else
                {
                    $('.sidebar-holder').tooltip('destroy');
                }


            });


            $('.nav-list a').on('click',function(){
                $('.nav-list li').removeClass('active');
                if('iframe' === $(this).attr('target')){
                    $(this).parent().addClass('active');

                }
            });


        });





    });




</script>