<#define __ROOT__="{#LAM.ROOT#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __GPLUGINS__="{#LAM.GPLUGINS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __JS__="{#LAM.JS#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __LESS__="{#LAM.LESS#}" />

<#import path="/vue/vue.js" root="__GPLUGINS__" write="1" befor="1" />

<#import type="css" path="
/bootstrap,
/font-awesome,
/style,
/custom,
/odometer-theme-car,
/minoral,
/lhh_lib
" root="__CSS__" befor="1" />

<#import type="css" path="/style" attr="{'id':'lessCss','title':'lessCss'}" suffix=".less" rel="stylesheet/less" root="__LESS__" befor="1" />

<#import path="
/use,
/bootstrap.min,
/jquery.accordion,
/skylo,
/dashboard-custom,
/jquery.sparkline/jquery.sparkline.min,
/jquery.sparkline/sparkline-script,
/jquery.easypiechart.min,
/jquery.animateNumbers" root="__JS__" />

<#Block:begin override="1:0" id="head" data="{'title':'光伏运维生成管理系统'}">
    <title><%=title%></title>
<#Block:end>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <#=block id="head" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body class="M0">
<div id="app">
    <div class="site-holder">
        <header-component></header-component>
        <div class="box-holder">
            <menu-component></menu-component>
            <!-- .content -->
            <div class="content">
                <div class="row MB10 hidden-lg">
                    <div class="col-md-12">
                        <div class="_lhh_header xs">
                            <div class="_lhh_header-middle center-block">
                                <div class="_lhh_powerPanel">
                                    <div class="powerCounts">
                                        <div class="none">
                                            <div class="odometer pull-left"></div>
                                            <div class="text height pull-left p-rel">
                                                <div class="_lhh_powerPanel-switch">
                                                    <div class="switch switch-mini"  data-on="info" data-off="success" data-on-label="今年" data-off-label="累计">
                                                        <input type="checkbox" checked />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <crumb-component :list="crumbData"></crumb-component>
                <div class="row">
                    <div class="col-mod-12">
                        <h3 class="page-header"><i class="fa fa fa-dashboard"></i> Dashboard <i class="fa fa-info-circle animated bounceInDown show-info"></i> </h3>
                    </div>
                </div>
                <content-component></content-component>
                <footer-component></footer-component>
    
            </div> <!-- /.content -->
    
        </div>  <!-- /.right-sidebar -->
    
    
    </div><!-- /.site-holder -->
    
</div>



<#include file="__COMPONENTS__/CrumbComponent.html" />
<#include file="__COMPONENTS__/HeaderComponent.html" />
<#include file="__COMPONENTS__/MenuComponent.html" />
<#include file="__COMPONENTS__/FooterComponent.html" />
{#-content-#}
<script type="text/javascript">
    var vm = LAM.run(function(){
        'use strict';
        var System = this;

        var vm = new Vue({
              data: function(){
                return {
                    title: "",
                    crumbData: {#-D.list-#}
                };
              },
              components: {
                'menu-component': System.require('MenuComponent'),
                'header-component': System.require('HeaderComponent'),
                'footer-component': System.require('FooterComponent'),
                'crumb-component': System.require('CrumbComponent'),
                'content-component': System.require('ContentComponent')
              },
              computed: {
              },
              methods: {
              },
              watch: {
              }
            }).$mount("#app");

            return vm;

    });

</script>
<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System=this;

        

    var skylo=function(){
        $(document).skylo('start');
        $(document).skylo('end');
    };

        $(function(){
            skylo();
            
        });

        

    });
</script>
</body>
</html>