<#Block:begin id="left_side_menu" data="{'list':[{'id':0,'name':'name','child':[]}], level: 0}">
    <%LAM.each(list,function(i){%>
        <%if (0 == level){%>
            <dl class="border dl-1">
                <dd class="dd-1 <%if(0 === i){%>cur<%}%>">
                    <div class="title" data-id="<%=this.id%>"><%=this.name%></div>
                    <%if(System.isArray(this.child)){%><div class="sectionIcon-A1 sectionIcon-A1-5 sectionIcon-A1-5-1"><i></i></div><%}%>
                </dd>
                <%if(System.isArray(this.child)){%>
                    <%=LAM.Template.getBlock('left_side_menu',{list:this.child, level: 1})%>
                <%}%>
            </dl>
        <%} else {%>
            <dd class="dd-1" style="border-left: 1px solid #ccc;">
                <div class="title" data-id="<%=this.id%>"><%=this.name%></div>
                <%if(System.isArray(this.child)){%>
                    <dl class="ml5"><%=LAM.Template.getBlock('left_side_menu',{list:this.child, level: 1})%></dl>
                <%}%>
            </dd>
        <%}%>
    <%});%>
<#Block:end>