#define# __COOKIE__ {#cookie#} #end#

<#Block:begin id="selectBoxList">
<ul>
    <li v-if="1 == count" value="0">请选择</li>
    <template v-for="item in list">
        <li :value="item.id" v-bind:class="{ selected: (sid == item.id)}">{{ item.name }} </li>
        <li v-if="isArray(item.child)"  class="ml10">
            <select-list-component :count="count++" :sid="sid" :list="item.child"></select-list-component> 
        </li>
    </template>
    
</ul>
<#Block:end>

<#Block:begin id="selectBox">
<div>
    <select id="select" class="L" :name="name">
        <option v-if="0 == cookie.sid" value="0" class="none">请选择</option>
        <option v-else :value="cookie.sid" class="none"> {{ cookie.sort_name }} </option>
    </select>
    <div id="selectBox" class="none">
        <div class="mCustomScrollbar">
            <select-list-component :count="1" :sid="cookie.sid || 0" :list="list"></select-list-component>
        </div>
    </div>    
</div>
<#Block:end>

<#Block:begin id="selectBoxComponent">
<script type="text/javascript">
	var selectBoxComponent = LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        var selectListComponent = {
              name: "selectListComponent",
              props: ["list", "sid", "count"],
              components: {
              },
              data: function () {
                return {
                }
              },
              methods: {
                isArray: function(v){
                    console.log(this.count,'=========================');
                    console.log(v);
                    var a = !(this.empty(v)) && System.isArray(v);
                    console.log(a);
                    return a;
                },
                empty:function(v){ return System.empty(v); }
              },
              template: System.Template.getBlock('selectBoxList')
        };

        var selectBoxComponent = {
          name: "selectBoxComponent",
          props: ["list", "name"],
          components: {
            "select-list-component": selectListComponent
          },
          data: function () {
            return {
                cookie: __COOKIE__
            }
          },
          methods: {
          },
          template: System.Template.getBlock('selectBox')
        };



        $(function(){
            $(document).on('click', '#select',function(e){
                    $('#selectBox').show();
                    e.preventDefault();  //阻止自身的事件，并不能阻止冒泡
                    e.stopPropagation();  //阻止事件冒泡
                    
                });
            $(document).on('click', '#selectBox li',function(e){
                    $('#selectBox li').removeClass("selected");
                    $(this).addClass("selected");
                    $('#select').find('option').val($(this).attr("value"));
                    $('#select').find('option').text($(this).text());
                    $('#selectBox').hide();
                    e.preventDefault();  //阻止自身的事件，并不能阻止冒泡
                    e.stopPropagation();  //阻止事件冒泡
                    
                });

            $(document).on('click',function(e) {
                $('#selectBox').hide();
                
            });
        });

        return selectBoxComponent;
        
    });
</script>

<style type="text/css">
    #selectBox{width: 165px; padding: 10px; border: 1px solid #ccc; position: absolute;top:0; left:85px; background: #fff; z-index: 9999;}
    #selectBox li{padding: 2px; cursor: pointer;}
    .selected{font-weight: bold;color:red;}
</style>
<#Block:end>
