<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/lhh_lib.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/zh_tab.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/table.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap-datetimepicker.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ROOT}}/js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
        ._zh_table{border:1px solid #e3e3e3;}
        ._zh_table-tr{border-top:1px solid #e3e3e3;}
        ._zh_table-tr td{border-right:1px solid #f1f1f1;}
    </style>

</head>
<body class="content">
<div class="row _lhh_breadcrumb MB10 visible-lg">
    <ul class="breadcrumb pull-left">
        <li><a href="index.html">首页</a></li>
        <li class="active">环境检测数据</li>
    </ul>
    <div class="p-rel">
        <div class="_lhh_breadcrumb-more MR15">
            <!--电子时钟 begin-->
            <include file="{{ROOT}}/controllers/include/clock.html" dataType="html"></include>
            <!--电子时钟 end-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-mod-12">
        <div class="page-header">
            <div class="ML10 MT10">
                <label class="MR5">开始日期</label>
                <input size="16" type="text" value="2012-06-15 12:10" readonly class="form_datetime form-control" data-date-format="yyyy-mm-dd hh:ii">
                <label class="MR5 ML30">结束日期</label>
                <input size="16" type="text" value="2012-06-15 12:10" readonly class="form_datetime form-control" data-date-format="yyyy-mm-dd hh:ii">
                <button type="submit" class="btn page-header-btn ML30">查询</button>
            </div>
        </div>
    </div>
</div>
<div style="overflow: auto;">
    <h1 class="font-16 font-blue text-center FW">环境监测数据</h1>
    <table class="_zh_table font-12">
        <tr class="_zh_table-tr bg-blue2 FW">
            <td class="noborder PLR80">采集时间</td>
            <td class="noborder PLR25">环境温度（℃）</td>
            <td class="noborder PLR25">环境湿度（%RH）</td>
            <td class="noborder PLR25">组件工作温度（℃）</td>
            <td class="noborder PLR25">风速瞬时值（m/s）</td>
            <td class="noborder PLR25">风向（°）</td>
            <td class="noborder PLR25">水平辐射瞬时值（W/m²）</td>
            <td class="noborder PLR25">斜面辐射瞬时值（W/m²）</td>
            <td class="noborder PLR25">辐射瞬时值（W/m²）</td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:55:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:50:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:45:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:40:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:35:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:30:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:25:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:20:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:15:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:10:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr">
            <td>2015-09-01 22:05:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
        <tr class="_zh_table-tr bg-grey2">
            <td>2015-09-01 22:00:00</td>
            <td class="text-right">23.20</td>
            <td class="text-right">96.00</td>
            <td class="text-right"></td>
            <td class="text-right">0.80</td>
            <td class="text-right">82.0</td>
            <td class="text-right"></td>
            <td class="text-right">123.2</td>
            <td class="text-right">0.00</td>
            <td class="text-right"></td>
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/datetimepicker-custom.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function initDate(){
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    }

    $(function(){
        initDate();
    });
</script>
