<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/lhh_lib.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/zh_tab.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/table.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap-datetimepicker.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ROOT}}/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body class="content">
<div class="row _lhh_breadcrumb MB10 visible-lg">
    <ul class="breadcrumb pull-left">
        <li><a href="index.html">首页</a></li>
        <li class="active">生产运行分指标年报</li>
    </ul>
    <div class="p-rel">
        <div class="_lhh_breadcrumb-more MR15">
            <!--电子时钟 begin-->
            <include file="{{ROOT}}/controllers/include/clock.html" dataType="html"></include>
            <!--电子时钟 end-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-mod-12">
        <div class="page-header">
            <div class="ML10 MT10">
                <label class="MR5">日期</label>
                <input size="16" type="text" value="2012" readonly class="form_datetime form-control">
                <button type="submit" class="btn page-header-btn ML30">查询</button>
            </div>
        </div>
    </div>
</div>
<div style="overflow: auto;">
        <h1 class="font-16 font-blue text-center FW">2015年 南京六合光伏电站 生产指标统计</h1>
        <table class="_zh_table font-12 font-blue">
            <tr class="_zh_table-tr bg-blue">
                <td rowspan="2" class="PLR10" width="84">月份</td>
                <td colspan="2">可研报告</td>
                <td colspan="9">太阳能资源指标</td>
                <td colspan="6">电量指标</td>
            </tr>
            <tr class="_zh_table-tr bg-blue">
                <td>倾斜面总辐射量（MJ/m²）</td>
                <td>理论发电量（万kWh）</td>
                <td>平均气温（℃）</td>
                <td>平均温度（%RH）</td>
                <td>平均风速（m/s）</td>
                <td>最小瞬时辐射值（W/m²）</td>
                <td>平均瞬时辐射值（W/m²）</td>
                <td>最大瞬时辐射值（W/m²）</td>
                <td>倾斜面总辐射量（MJ/m²）</td>
                <td>峰值日照时数（h）</td>
                <td>日照时数（h）</td>
                <td>理论发电量（万kWh）</td>
                <td>逆变器输出电量（万kWh）</td>
                <td>发电量（万kWh）</td>
                <td>上网电量（万kWh）</td>
                <td>购网电量（万kWh）</td>
                <td>等效利用小时数（h）</td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-1</td>
                <td>131313</td>
                <td>7868</td>
                <td>686969</td>
                <td>523523</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="_zh_table-tr text-right">
                <td class="PLR10 text-center">2015-10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </body>
</html>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/datetimepicker-custom.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function initDate(){
        $(".form_datetime").datetimepicker({format: 'yyyy',minView:2});
    }

    $(function(){
        initDate();
    });
</script>