<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/lhh_lib.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/zh_tab.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/table.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap-datetimepicker.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ROOT}}/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body class="content">
<div class="row _lhh_breadcrumb MB10 visible-lg">
    <ul class="breadcrumb pull-left">
        <li><a href="index.html">首页</a></li>
        <li class="active">组串电流离散率统计</li>
    </ul>
    <div class="p-rel">
        <div class="_lhh_breadcrumb-more MR15">
            <!--电子时钟 begin-->
            <include file="{{ROOT}}/controllers/include/clock.html" dataType="html"></include>
            <!--电子时钟 end-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-mod-12">
        <div class="page-header">
            <div class="ML10 MT10">
                <label class="MR5">年月</label>
                <input size="16" type="text" value="2012-06-15" readonly class="form_datetime form-control">
                <button type="submit" class="btn page-header-btn ML30">查询</button>
            </div>
        </div>
    </div>
</div>
<div style="overflow: auto;">
    <h1 class="font-16 font-blue text-center FW">2015年09月 逆变器组串电流离散率统计</h1>
    <table class="_zh_table font-12 font-blue">
        <tr class="_zh_table-tr bg-blue">
            <td rowspan="2" class="PLR50">日期</td>
            <td colspan="2">通讯异常</td>
            <td colspan="2">0-5%（稳定）</td>
            <td colspan="2">5-10%（良好）</td>
            <td colspan="2" class="bg-yellow">10-20%（待提高）</td>
            <td colspan="2" class="bg-red">20%以上（必须改进）</td>
        </tr>
        <tr class="_zh_table-tr bg-blue">
            <td class="PLR25">数量（台）</td>
            <td class="PLR25">百分比（%）</td>
            <td class="PLR25">数量（台）</td>
            <td class="PLR25">百分比（%）</td>
            <td class="PLR25">数量（台）</td>
            <td class="PLR25">百分比（%）</td>
            <td class="PLR25 bg-yellow">数量（台）</td>
            <td class="PLR25 bg-yellow">百分比（%）</td>
            <td class="PLR25 bg-red">数量（台）</td>
            <td class="PLR25 bg-red">百分比（%）</td>
        </tr>
        <tr class="_zh_table-tr text-right">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-yellow"></td>
            <td class="bg-yellow"></td>
            <td class="bg-red"></td>
            <td class="bg-red"></td>
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/datetimepicker-custom.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function initDate(){
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',minView:2});
    }

    $(function(){
        initDate();
    });
</script>





