<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/lhh_lib.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/zh_tab.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/table.css" />
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap-datetimepicker.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ROOT}}/js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
        ._zh_table{border:1px solid #e3e3e3;}
        ._zh_table-tr{border-top:1px solid #e3e3e3;}
        ._zh_table-tr td{border-right:1px solid #f1f1f1;}
    </style>
</head>
<body class="content">
<div class="row _lhh_breadcrumb MB10 visible-lg">
    <ul class="breadcrumb pull-left">
        <li><a href="index.html">首页</a></li>
        <li class="active">逆变器数据</li>
    </ul>
    <div class="p-rel">
        <div class="_lhh_breadcrumb-more MR15">
            <!--电子时钟 begin-->
            <include file="{{ROOT}}/controllers/include/clock.html" dataType="html"></include>
            <!--电子时钟 end-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-mod-12">
        <div class="page-header">
            <div class="ML10 MT10">
                <label class="MR5 ">逆变器</label>
                <select type="select" class="form-control">
                    <option>［01＃方阵］无锡上能逆变器01</option>
                    <option>［01＃方阵］无锡上能逆变器02</option>
                </select>
                <label class="MR5 ML30">日期</label>
                <input size="16" type="text" value="2012-06-15 12:10" readonly class="form_datetime form-control" data-date-format="yyyy-mm-dd hh:ii">
                <span style="font-size: 18px;">-</span>
                <input size="16" type="text" value="2012-06-15 12:10" readonly class="form_datetime form-control" data-date-format="yyyy-mm-dd hh:ii">
                <label class="MR5 ML30">排序方式</label>
                <select type="select" class="form-control">
                    <option>逆变器排序</option>
                </select>
                <button type="submit" class="btn page-header-btn ML30">查询</button>
            </div>
        </div>
    </div>
</div>

<div style="overflow: auto;">
<h1 class="font-16 font-blue text-center FW">逆变器数据</h1>
        <table class="_zh_table font-12">
            <tr class="_zh_table-tr bg-blue2 FW">
                <td class="noborder PLR25">方阵描述</td>
                <td class="noborder PLR50">逆变器描述</td>
                <td class="noborder PLR50">采集时间</td>
                <td class="noborder PLR25">PV输入电压（V）</td>
                <td class="noborder PLR25">PV输入电流（A）</td>
                <td class="noborder PLR25">PV输入功率（kW）</td>
                <td class="noborder PLR25">输出有功功率（kW）</td>
                <td class="noborder PLR25">输出无功功率（kVar）</td>
                <td class="noborder PLR25">逆变器温度（℃）</td>
                <td class="noborder PLR25">日发电量（kWh）</td>
                <td class="noborder PLR25">总发电量（kWh）</td>
                <td class="noborder PLR25">转换效率（%）</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:55:00</td>
                <td class="text-right">23.20</td>
                <td class="text-right">3.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">1.00</td>
                <td class="text-right">1692.69</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:50:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:45:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:40:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:35:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:30:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:25:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">1.00</td>
                <td class="text-right">25640.00</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:20:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:15:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:10:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器01</td>
                <td>2015-09-01 22:05:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
            <tr class="_zh_table-tr bg-grey2">
                <td>01#方阵</td>
                <td class="text-left">无锡上能逆变器02</td>
                <td>2015-09-01 22:00:00</td>
                <td class="text-right">123.20</td>
                <td class="text-right">0.65</td>
                <td class="text-right">1.12</td>
                <td class="text-right">0.08</td>
                <td class="text-right">0.16</td>
                <td class="text-right">0.15</td>
                <td class="text-right">2.80</td>
                <td class="text-right">25640.00</td>
                <td class="text-right">1.00</td>
            </tr>
        </table>
    </div>
    </body>
</html>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/datetimepicker-custom.js"></script>
<script type="text/javascript" src="{{ROOT}}/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function initDate(){
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    }

    $(function(){
        initDate();
    });
</script>