<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>服务商系统</title>
        <script>
            window.AES_CONFIG = {
                pid: 'a271c',
                user_type: 4,
                uid: "cn1528854953knag",
                username: "cn1528854953knag",
            }
        </script>
    </head>
    <body data-spm="6e3bfa9ba3a78c80d73da58a55c87465">
        <script id="beacon-aplus" src="//assets.alicdn.com/g/alilog/??aplus_plugin_icbufront/index.js,mlog/aplus_v2.js" exparams="userid=&aplus&ali_beacon_id=&ali_apache_id=11%2e82%2e28%2e230%2e1596955096578%2e179865%2e1&ali_apache_track=&ali_apache_tracktmp=&dmtrack_c={}&pageid=b7d375eb0baf63c91601004661&hn=onetouch%2dnemesis011175099201%2ena62&asid=AQAAAAB1ZG1fMFvHEwAAAABTlEqfgdJXGQ=="></script>
        <script>
            if (window.frameElement) {
                document.body.className += ' inside-iframe';
            }
        </script>
        <link rel="stylesheet" type="text/css" href="//s.alicdn.com/@g/onetouch-assets/saas-header/0.0.37/index.css"/>
        <header id="saas-header">
            <div class="platform-logo"></div>
            <div class="platform-name"></div>
            <div class="white-spaces"></div>
            <div class="ot-partner-search-mod">
                <form id="searchForm" name="searchForm" method="get" data-autocomplete-action="//onetouch-partner.alibaba.com/onePartner/header/onePartnerSearchTips.do" action="//onetouch-partner.alibaba.com/onePartner/search/partnerSearch.htm">
                    <input type="text" name="keyword" value="" placeholder="搜客户、订单、开票人、产品" data-role="search-key" class="ot-search-key" autocomplete="off"/>
                    <button type="submit" class='ot-header-button'>
                        <img src="https://img.alicdn.com/tfs/TB13KrWBkL0gK0jSZFtXXXQCXXa-14-14.svg">
                    </button>
                </form>
                <div class="ui-autocomplete ot-search-mod-result"></div>
                <div id='ot-header-select-dropdown'></div>
                <div id='security-balloon-wrapper' class="ui2-balloon ui2-shadow-normal security-balloon ui2-balloon-tl" style="z-index: 10000; display:none; position: absolute; left: 0px; top: 48px; width:710px;">
                    <div data-role="content">
                        <div>
                            亲，本系统所有数据均属需保护数据，任何泄露、盗卖和不当使用客户/订单信息等行为都将受到严肃处理，<br>严重的可能要追究法律责任哦~
                        </div>
                    </div>
                </div>
            </div>
            <div class="qrcode-action header-bar-action">
                <span id="qrcode" class="link link-qrcode partner-actions">移动端</span>
                <ul id="qrcode-menu" class="header-bar-menu">
                    <li id="dingding-qr" class="dingding">
                        <h4>
                            钉钉<span>高效移动办公</span>
                        </h4>
                        <div class="qr-code"></div>
                    </li>
                    <li id="youban-qr" class="close-qr">
                        <h4>
                            友办<span>拍档APP</span>
                        </h4>
                        <img class="qr-code" src="https://img.alicdn.com/tps/TB1r1TgNpXXXXaAXpXXXXXXXXXX-150-150.gif">
                    </li>
                </ul>
            </div>
            <a href="/ptnBasedata/luyou/getXSpace/genXspace.html" target="_blank" id="online-service" class="link link-online-service partner-actions">XSPACE</a>
            <a href="https://partner-peiyu.alibaba.com/peiyu/onepartner/courseList.htm" id="learn-icon" class="link link-learn partner-actions">学习与帮助</a>
            <a href="/ptnBase/provider/task.htm" id="task-icon" class="link link-task">任务</a>
            <!--<a href="/customsserviceprovider/workbench/list.htm" id="clearance-task" class="link link-message">退单通知</a>-->
            <a href="/ptnBase/provider/message.htm" id="message-icon" class="link link-message">消息</a>
            <!--<a href="javascript:;" class="link link-help">帮助</a>-->
            <div id="avatar" class="avatar fake-avatar"></div>
            <div id="avatar-menu" class="header-bar-menu">
                <div class="avatar fake-avatar"></div>
                <p>
                    您好，<loginId></loginId>
                </p>
                <p class="avatar-actions">
                    <a href="/ptnBasedata/employee/detail.htm" class="account" style="display:none;">个人主页</a>
                    <a href="/logout.htm" class="logout">退出</a>
                </p>
            </div>
        </header>
        <script async src="//g.alicdn.com/tb/apush/2.0.4/??socketio.js,apush2.js"></script>
        <script src="//assets.alicdn.com/g/sd/baxia/1.1.8/baxiaCommon.js"></script>
        <div id="saas-root">
            <aside id="saas-sidebar"></aside>
            <script crossorigin src="//s.alicdn.com/@g/onetouch-assets/saas-header/0.0.37/index.js"></script>
            <div id="saas-main" data-spm="">
                <link rel="stylesheet" type="text/css" href="//s.alicdn.com/@g/onetouch-assets/clearance-doc/0.0.24/pages/production/index.css">
                <div id="root"></div>
                <script>
                    window._sealInfo_ = null
                    window._customerConfigInfo_ = {
                        "entryCustomsToEntryPort": {
                            "1925": {
                                "name": "绥芬河公路",
                                "code": "230402"
                            },
                            "2225": {
                                "name": "外高桥",
                                "code": "310701"
                            },
                            "2233": {
                                "name": "上海浦东国际机场",
                                "code": "310302"
                            },
                            "2248": {
                                "name": "洋山港",
                                "code": "311002"
                            },
                            "2308": {
                                "name": "南京港",
                                "code": "320102"
                            },
                            "2317": {
                                "name": "南京禄口国际机场",
                                "code": "320101"
                            },
                            "2910": {
                                "name": "杭州萧山国际机场",
                                "code": "330002"
                            },
                            "3116": {
                                "name": "宁波梅山保税港区",
                                "code": "380901"
                            },
                            "3708": {
                                "name": "厦门海沧港区",
                                "code": "390101"
                            },
                            "4006": {
                                "name": "南昌昌北机场",
                                "code": "360002"
                            },
                            "4201": {
                                "name": "烟台港",
                                "code": "370302"
                            },
                            "4204": {
                                "name": "威海港",
                                "code": "371202"
                            },
                            "4209": {
                                "name": "石岛",
                                "code": "370401"
                            },
                            "4218": {
                                "name": "黄岛",
                                "code": "370201"
                            },
                            "4220": {
                                "name": "青岛流亭机场",
                                "code": "372301"
                            },
                            "4227": {
                                "name": "青岛港",
                                "code": "370101"
                            },
                            "4258": {
                                "name": "黄岛",
                                "code": "370201"
                            },
                            "4302": {
                                "name": "济南遥墙机场",
                                "code": "370701"
                            },
                            "4604": {
                                "name": "郑州新郑国际机场",
                                "code": "410003"
                            },
                            "4908": {
                                "name": "长沙黄花国际机场货场",
                                "code": "430003"
                            },
                            "5141": {
                                "name": "广州白云国际机场",
                                "code": "442301"
                            },
                            "5201": {
                                "name": "中外运黄埔仓码头",
                                "code": "442110"
                            },
                            "5301": {
                                "name": "皇岗",
                                "code": "470201"
                            },
                            "5303": {
                                "name": "沙头角",
                                "code": "470501"
                            },
                            "5316": {
                                "name": "盐田",
                                "code": "470601"
                            },
                            "5317": {
                                "name": "深圳宝安国际机场",
                                "code": "471001"
                            },
                            "5320": {
                                "name": "文锦渡",
                                "code": "470401"
                            },
                            "5345": {
                                "name": "深圳湾",
                                "code": "471401"
                            },
                            "5348": {
                                "name": "大铲湾",
                                "code": "471601"
                            },
                            "5349": {
                                "name": "妈湾5号泊位",
                                "code": "471801"
                            },
                            "5778": {
                                "name": "港珠澳大桥货车查验场",
                                "code": "480016"
                            },
                            "6407": {
                                "name": "海口美兰机场",
                                "code": "460501"
                            },
                            "6811": {
                                "name": "江门国际货柜码头",
                                "code": "440707"
                            },
                            "6812": {
                                "name": "江门中外运外海货柜码头",
                                "code": "440706"
                            },
                            "7221": {
                                "name": "南宁吴圩机场",
                                "code": "450002"
                            },
                            "7902": {
                                "name": "成都双流国际机场货场",
                                "code": "510004"
                            },
                            "8003": {
                                "name": "重庆江北国际机场",
                                "code": "500601"
                            },
                            "8602": {
                                "name": "昆明长水国际机场",
                                "code": "531201"
                            },
                            "9002": {
                                "name": "西安咸阳国际机场",
                                "code": "610002"
                            },
                            "9402": {
                                "name": "霍尔果斯",
                                "code": "650501"
                            },
                            "9417": {
                                "name": "乌鲁木齐地窝堡国际机场",
                                "code": "650002"
                            },
                            "0101": {
                                "name": "首都国际机场",
                                "code": "110101"
                            },
                            "0705": {
                                "name": "二连浩特公路",
                                "code": "150201"
                            },
                            "0202": {
                                "name": "天津",
                                "code": "120001"
                            },
                            "0106": {
                                "name": "北京大兴国际机场",
                                "code": "115301"
                            },
                            "0603": {
                                "name": "满洲里十八里",
                                "code": "150104"
                            }
                        },
                        "entryCustomsToTrafficMode": {
                            "1925": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "2225": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "2233": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "2248": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "2308": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "2317": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "2910": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "2942": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "3104": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "3116": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "3708": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "3715": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "4006": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "4201": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4204": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4209": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4218": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4220": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "4227": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4258": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "4302": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "4604": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "4908": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "5141": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "5166": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5201": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5301": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "5303": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "5304": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5316": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5317": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "5320": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "5345": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "5348": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5349": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "5778": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "6407": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "6811": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "6812": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "7207": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "7221": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "7902": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "8003": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "8620": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "9002": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "9417": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "0101": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "0705": {
                                "name": "公路运输",
                                "code": "4"
                            },
                            "0202": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "0217": {
                                "name": "水路运输",
                                "code": "2"
                            },
                            "0106": {
                                "name": "航空运输",
                                "code": "5"
                            },
                            "0603": {
                                "name": "公路运输",
                                "code": "4"
                            }
                        }
                    }
                </script>
                <script crossorigin src="//s.alicdn.com/@g/onetouch-assets/vendor-next1/0.0.18/uba.js" key="saas-general"></script>
                <script src="//s.alicdn.com/@g/onetouch-assets/vendor-next1/0.0.18/index.js"></script>
                <script type="text/javascript" src="//s.alicdn.com/@g/onetouch-assets/clearance-doc/0.0.24/pages/production/index.js" defer></script>
            </div>
        </div>
    </body>
</html>
