<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __MODELS__="{#LAM.MODELS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />



<#Block:begin id="video.components.FormComponent">
<div>
    <el-form :model="data" :rules="rules" ref="data" label-width="120px" class="demo-ruleForm">
        <el-form-item label="标题：" prop="title">
            <el-input v-model="data.title"></el-input>
        </el-form-item>
        <el-form-item label="源码：" prop="source">
            <el-input type="textarea" v-model="data.source"></el-input>
        </el-form-item>
        
    </el-form>
</div>

<#Block:end>

<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;
        var FormComponent = {
          name: "FormComponent",
          props: {
            data: Object,
            error: Object,
          },
          components: {},
          data() {
            return {
                rules: {
                    title: [
                        { required: true, message: '请输入标题', trigger: 'blur' }
                    ],
                    source: [
                        { required: true, message: '请输入源码', trigger: 'blur' }
                    ]
                }
            }
          },
          methods: {},
          template: `<#=block id="video.components.FormComponent" />`
        };

        System.export('video.components.FormComponent', FormComponent);
    });
</script>
