<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __MODELS__="{#LAM.MODELS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />



<#Block:begin id="video.components.FormComponent">
<form class="form-horizontal">
    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
                <ul>
                    <li class="clear mb5">
                        <label class="L">title：<span class="warning">*</span></label>
                        <input type="text" v-model="data.title"  class="text name L">
                        <span class="help-block">{{error.title}}</span>
                    </li>
                    <li class="textarea clear">
                        <label class="L">source：<span class="warning">*</span></label>
                        <textarea class="L" v-model="data.source"></textarea>
                        <span class="help-block">{{error.source}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<#Block:end>



<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;
        var FormComponent = {
          name: "FormComponent",
          props: {
            data: Object,
            error: Object,
          },
          components: {},
          data() {
            return {}
          },
          methods: {},
          template: System.Template.getBlock('video.components.FormComponent')
        };

        System.export('video.components.FormComponent', FormComponent);
    });
</script>
