
<#define __CSRF_TOKEN__="{#LAM.require("this").getToken()#}" />
<#define __SRC__="{#LAM.SRC#}" />
<#define __ROUTES__="{#LAM.ROUTES#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define __IMAGE__="{#LAM.IMAGE#}" />
<#define __MYCOMMON__="{#LAM.MYCOMMON#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define __NODE_MODULES__="{#LAM.NODE_MODULES#}" />
<#define __COMMON__="{#LAM.COMMON#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define _LAYOUTS_="{#LAM.LAYOUTS#}" />
<#define @COMPONENTS="_LAYOUTS_/components" />

<#import path="/Tab.class,/Tools.class" root="__CLASSPATH__" write="1" befor="1" />
<#import path="vue.js,vue-router.js" root="__PLUGINS__/vue/" write="1" befor="1" />


<!--Del:begin-->
<#import path="
/vue/dist/vue.js,
/vue-router/dist/vue-router.min.js,
/vuex/dist/vuex.min.js
" root="__NODE_MODULES__" write="1" befor="1" />

<#import path="
/dayjs.min.js,
/plugin/customParseFormat.js,
/plugin/weekday.js,
/plugin/localeData.js,
/plugin/weekOfYear.js,
/plugin/weekYear.js,
/plugin/advancedFormat.js,
/plugin/quarterOfYear.js
" root="https://unpkg.com/dayjs" write="1" befor="1" />

<#import path="/ant-design-vue@4.1.1/dist/antd.min.js" root="https://cdn.jsdelivr.net/npm" write="1" befor="1" />
<#import type="css" path="/ant-design-vue@4.1.1/dist/reset.min.css" root="https://cdn.jsdelivr.net/npm" befor="1" />
<!--Del:end-->

<#import type="css" path="/element-ui/lib/theme-chalk/index.css" root="__NODE_MODULES__" befor="1" />
<#import path="/element-ui/lib/index.js" root="__NODE_MODULES__" write="1" befor="1" />

<#import path="/lib/index.js" root="__NODE_MODULES__/umy-ui" write="1" befor="1" />
<#import type="css" path="/lib/theme-chalk/index.css" root="__NODE_MODULES__/umy-ui" befor="1" />

<#import path="/layer-v3.1.1/layer/layer.js" root="__PLUGINS__" write="1" befor="1" />


<#import type="css" path="/css/lib/bootstrap" root="__COMMON__" befor="1" />
<#import type="css" path="/global,/lib" root="__CSS__" befor="1" />



<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="referrer" content="no-referrer" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf-token" content="__CSRF_TOKEN__">
<title>{#-title-#}</title>
<meta name="keywords" content="{#-title-#}" />
<meta name="description" content="{#-title-#}" />
<!#LAM_INIT/>
<!#CSS/>


<style type="text/css">
  
	#header {
	  position: fixed;
	  z-index: 999;
	  top: 0; 
	  left: 0;
	  background-color: #6d1667;
	  padding: 5px 20px;
	  width: 100%;
	  height: 50px;
	}
	#content {
	  margin-top: 70px;
	  width: 100%;
	}
	.sectionBtn-A2{
	  background-color: transparent;
	}
	.sectionBtn-A2 span {
	  /* width: 29px; 
	  height: 5px; */
	  background-color: #e3e5eb;
	  
	}

	.el-button--primary {
    color: #FFF;
    background-color: #9a36ca;
    border-color: #863cb9;
}

.el-button--primary:focus,.el-button--primary:hover {
    background: #ed6cff;
    border-color: #ae5ec3;
    color: #FFF
}

.el-header {
    color: #fff;
}
/*文字*/
.sectionText-A1 a{color: #ffffff;}

  </style>
</head>

<body style="background-color: #fafafa;">
    <div id="app">
		<el-container>
		  <el-drawer
		  title=""
		  size="200px"
		  direction="ltr"
		  :visible.sync="drawer"
		  ref="navDrawer"
		  :with-header="false">
		  <el-aside width="200px"><menu-component v-on:drawer="handleClose" :title="title"></menu-component></el-aside>
		</el-drawer>
		  
		  <el-container>
			<div id="header" class="clearfix clear">
			  <el-row>
				<el-col :span="23">
				  <el-header><header-component :name="user.name" :age="user.age"></header-component></el-header>
				</el-col>
				<el-col :span="1">
				  <el-tooltip content="点我显示侧边栏" placement="right">
					<div class="sectionBtn-A2" @click="drawer = true">
						<span class="mb3"></span>
						<span class="mb3"></span>
						<span></span>
					</div>
				  </el-tooltip>
				</el-col>
			  </el-row>
			  
			</div>
			
			<div id="content">
			  <!-- <nav-menu-component></nav-menu-component> -->
			  <div class="ml20"><crumb-component :list="crumbData"></crumb-component></div>
			  <el-main style="overflow: hidden">
				<!-- <div style="padding: 20px"> -->
					<router-view @change_crumb_data="change_crumb_data"></router-view>
					<el-backtop></el-backtop>
				<!-- </div> -->
				
			  </el-main>
			</div>
			
		  </el-container>
		</el-container>
	</div>

<!#JS/>

<#include file="@COMPONENTS/MenuComponent.html" />
<#include file="@COMPONENTS/MobileMenuComponent.html" />
<#include file="@COMPONENTS/HeaderComponent.html" />
<#include file="@COMPONENTS/CrumbComponent.html" />
<#include file="@COMPONENTS/NavMenuComponent.html" />

<#include file="__ROUTES__/index.html" />


<script type="text/javascript">
	var vm = LAM.run(function(){
		'use strict';
		
		var System = this;

		Vue.directive('loadmore', {
			bind(el, binding) {
				const bodyWrapper = el.querySelector('.el-table__body-wrapper');
				bodyWrapper.addEventListener('scroll', function() {
				if(this.scrollHeight - this.scrollTop <= this.clientHeight) {
					binding.value();
				}
				})
			}
		});

		// var D = System.require("this").content;


		

		const router = System.require('VueRouter');

		

		var vm = new Vue({
				router,
				data: function(){
				return {
					drawer: false,
					title: "blog系统",
					user: {#-user-#},
					crumbData: []
				};
				},
				components: {
					'menu-component': System.require('MenuComponent'),
					'mobile-menu-component': System.require('MobileMenuComponent'),
					'header-component': System.require('HeaderComponent'),
					'crumb-component': System.require('CrumbComponent'),
					'nav-menu-component': System.require("components.NavMenuComponent")
				},
				computed: {
					
				},
				created() {
				},
				methods: {
					handleClose() {
						this.$refs.navDrawer.closeDrawer();
					},
					change_crumb_data(data) {
						this.crumbData = data;
					}
				},
				watch: {
				}
			}).$mount("#app");


			return vm;

	});

</script>
</body>

</html>
