<#define __NODE_MODULES__="{#LAM.NODE_MODULES#}" />


<#import path="/mindmap.umd.js" root="__NODE_MODULES__/@hellowuxin/mindmap/dist" write="1" befor="1" />

<#Block:begin id="views.mindline.detail.components.MindMapComponent">
<div>
    <mindmap v-model="list.data" height="500"></mindmap>
</div>

<#Block:end>

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        
        var ContentComponent = {
            name: "MindMapComponent",
			components: { 
				mindmap
			},
			props: {
				"list": {
					type: Object
				}
			},
			data(){
				return { };
			},
			created(){
				
				
			},
            template: `<#=block id="views.mindline.detail.components.MindMapComponent" />`
        };

        System.export('views.mindline.detail.components.MindMapComponent', ContentComponent);
    });
</script>

<style type="text/css">
</style>




