<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define ~/="__VIEWS__/shop/" />

<#define _TITLE_="店铺列表" />
<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'店铺管理','href':'__INDEX__shop/index','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->



<#Block:begin id="views.shop.index">
<div>
    <div v-loading.fullscreen.lock="loading">
        <el-row>
            <el-button v-on:click="action(1)">添加店铺</el-button>
        </el-row>
        <table-component :data="tableData" :action="action"></table-component>
    
        <el-dialog
            :title="dialogTitle"
            :visible.sync="dialogVisible"
            width="">
            <form-component :data="form" :error="formError"></form-component>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="submit()">提 交</el-button>
            </span>
        </el-dialog>

    </div>

</div>
<#Block:end>



<#include file="~/components/FormComponent.html" />
<#include file="__COMPONENTS__/TableComponent.html" />

<script type="text/javascript">

    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        const Api = System.require("Api");

        var ContentComponent = {
          name: "ContentComponent",
          props: {},
          components: {
            'form-component': System.require('shop.components.FormComponent'),
            'table-component': System.require('components.TableComponent')
          },
          data: function () {
            return {
                loading: false,
                tableData: [],
                'dialogTitle': "提示",
                'dialogVisible': false,
                'form':{
                    'active':"",
                    'id': "-1",
                    'name': ""
                },
                'formError':{
                    'name': "",
                    'id': ""
                }
            }
          },
          created(){
            this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
                this.getData();
          },
          methods: {
            getData() {
                this.loading = true;
                Api.shop.index(res  => {
                    this.loading = false;
                    if(res.status) {
                        this.tableData = res.data;
                    }
                });
            },
            ok() {
                this.dialogVisible = false
            },
            submit() {
                this.initError();
                
                switch(this.form.active) {
                    case 1:
                        this.add();
                    break;
                    case 2:
                        this.modify(this.form.id);
                    break;
                }

            },
            initError() {
                this.formError.name = "";
            },
            init() {
                this.form.name = '';
            },
            action(active, item) {
                this.init();
                this.initError();
                this.form.active = active;

                switch(active) {
                    case 1:
                        this.dialogTitle = "新增";
                        break;
                    case 2:
                        this.dialogTitle = "修改";
                        break;
                    case 3:
                        this.remove(item.id);
                        return;
                }
                
                this.dialogVisible = true

                if(item) {
                    this.form.id = item.id;
                    this.form.name = item.name;
                }
            },
            add() {
                this.loading = true;
                var v = this;
                const name = this.form.name;

                const data = {
                    name
                };
                Api.shop.add(data, D => {
                    this.loading = false;
                    if(D.status){
                        // alert(D.message);
                        this.getData();
                        this.ok();

                    }else{
                        alert(D.message);
                        System.each(D.errors, (key,value) => {
                            this.formError[key] = value;
                        });
                    }

                });
            },
            remove(id){
                layer.confirm('真的要删除吗？？？', {icon: 3, title:'提示'}, index => {
                    //do something
                    Api.shop.delete(id, data => {
                        alert(data.message);
                        if(data.status){
                            this.getData();
                        } else {
                            System.each(data.errors,function (key,value) {
                                alert(value)
                            });
                        }
                        layer.close(index);
                    });
                    
                });
            },
            modify(id){
                this.loading = true;
                const name = this.form.name;

                const data = {
                    id,
                    name
                };

                Api.shop.edit(data, data => {
                    this.loading = false;
                    if(data.status){
                        // alert(data.message);
                        this.getData();
                        this.ok();
                    }else{
                        alert(data.message);
                        System.each(data.errors, (key,value) => {
                            this.formError[key] = value;
                        });
                    }
                },'json');
            }
          },
          template: `<#=block id="views.shop.index" />`
        };

        System.export("views.shop.index", ContentComponent);
    });
</script>

