<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/mindline/" />

<#Block:begin id="views.mindline.index.components.FormComponent">
<div>
    <el-form :model="data" :rules="rules" label-width="120px" class="demo-ruleForm">
        <el-form-item label="key：" prop="key">
            <el-input v-model="data.key"></el-input>
        </el-form-item>
        <el-form-item label="名称：" prop="name">
            <el-input v-model="data.name"></el-input>
        </el-form-item>
        <el-form-item label="备注：" prop="remark">
            <el-input type="textarea" v-model="data.remark"></el-input>
        </el-form-item>
    </el-form>
</div>

<#Block:end>

<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System = this;
        var FormComponent = {
            name: "FormComponent",
            props: {
                list: Array,
                data: Object,
                error: Object,
            },
            components: { },
            data() {
                return {
                    rules: {
                        name: [
                            { required: true, message: '请输入名称', trigger: 'blur' }
                        ],
                        key: [
                            { required: true, message: '请输入key', trigger: 'blur' }
                        ]
                    }
                }
            },          
            methods: {},
            template: `<#=block id="views.mindline.index.components.FormComponent" />`
        };

        System.export('views.mindline.index.components.FormComponent', FormComponent);
    });
</script>
