<script type="text/babel">
  class Label extends React.Component {
    render(){
      return (
            <label className="checkbox-inline">
              <input type="checkbox" key={this.props.keyNme} value="" /> {this.props.name}
            </label>
            )
    }
		
  }

  class Role extends React.Component {
    getList() {
      const lists = ({#-head-#}).map((roleName) => {
                        const content = ({#-list-#}).map((name) => {
                          return (<Label keyNme={roleName} key={name} name={name} />)
                        })

                        return (
                          <div key={roleName}>
                            <span className="MR20">
                              <Label keyNme={roleName} key={roleName} name={roleName} />
                            </span>
                            {content}
                          </div>
                          )
                      })
      return lists;
    }
    render(){
        return (
          <div>
            <div>
              权限分配：
              <label id="role_all" className="checkbox-inline">
              <input type="checkbox" value="" /> 所有权限
            </label>
            </div>
            <div style={{marginLeft:'167px'}}>{this.getList()}</div>
            
          </div>
         )
    }
    
  }
  ReactDOM.render(<Role />, document.getElementById('root'))
</script>