<#define __NODE_MODULES__="{#LAM.NODE_MODULES#}" />


<#import type="css" path="quill.core.css,quill.snow.css,quill.bubble.css" root="__NODE_MODULES__/quill/dist/" befor="1" />
<#import path="quill.js" root="__NODE_MODULES__/quill/dist/" befor="1" write="1" />
<#import path="vue-quill-editor.js" root="__NODE_MODULES__/vue-quill-editor/dist/" befor="1" write="1" />




<#Block:begin id="views.article.list.components.QuillEditorComponent">
<div>
    
	<quill-editor v-model="data.content"
	
<!--Del:begin-->
	:options="editorOption"

<!--Del:end-->
		ref="myQuillEditor"
		:options="editorOption"
		@blur="onEditorBlur($event)"
		@focus="onEditorFocus($event)"
		@ready="onEditorReady($event)">
	</quill-editor>
</div>

<#Block:end>

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;
		Vue.use(window.VueQuillEditor);

        var ContentComponent = {
            'name': "QuillEditorComponent",
            components: {
				VueQuillEditor
            },
			props: {
                data: Object
            },
            data(){
                return {
					editorOption: {
						modules: {
							toolbar: {
								container: [
								['bold', 'italic', 'underline', 'strike'],        // toggled buttons
								['blockquote', 'code-block'],
					
								[{ 'header': 1 }, { 'header': 2 }],               // custom button values
								[{ 'list': 'ordered'}, { 'list': 'bullet' }],
								[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
								[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
								[{ 'direction': 'rtl' }],                         // text direction
					
								[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
								[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
					
								[{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
								[{ 'font': [] }],
								[{ 'align': [] }],
					
								['clean'],                                         // remove formatting button
					
								['link', 'image', 'video']                         // link and image, video
								],
								handlers: {
									'custom-button': function (value) {
										console.log('Clicked on custom-button with value:', value);
										// 在这里添加按钮点击后的行为
									},
									// handlers object will be merged with default handlers object
									link: function (value) {
										if (value) {
											const href = prompt('Enter the URL');
											this.quill.format('link', href);
										} else {
											this.quill.format('link', false);
										}
									}
								}
							}
						}

					}
                    
                };
            },
            created() {
            },
            methods: {
				onEditorBlur(quill) {
					console.log('editor blur!', quill)
				},
				onEditorFocus(quill) {
					// quill.enable(false);
					// quill.focus({ preventScroll: true });
					

					console.log('editor focus!', quill)
				},
				onEditorReady(quill) {
					console.log('editor ready!', quill)
				},
				onEditorChange({ quill, html, text }) {
					console.log('editor change!', quill, html, text)
					this.data.content = html
				}
			},
			computed: {
				editor() {
					return this.$refs.myQuillEditor.quill
				}
			},
			mounted() {
				console.log('this is current quill instance object', this.editor)
			},
				
            template: `<#=block id="views.article.list.components.QuillEditorComponent" />`
        };

        System.export('views.article.list.components.QuillEditorComponent', ContentComponent);
    });
</script>

<style type="text/css">
.ql-editor{
	height: 500px;overflow: auto;
}

</style>




