<#define __PLUGINS__="{{LAM.PLUGINS}}" />
<#define __SCRIPT__="{{LAM.SCRIPT}}" />
<#define __ROOT__="{{LAM.ROOT}}" />
#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__ROOT__/json/data_3.json" /> #end#
<#import type="css" path="/bootstrap/bootstrap" root="__PLUGINS__" befor="1" />
<#import path="/vue/vue.js,/layer-v3.1.1/layer/layer.js" root="__PLUGINS__" write="1" befor="1" />
<#import path="/Pagination.class" root="__SCRIPT__" write="1" befor="1" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{-title-}}</title>
    <style type="text/css">
        .pagination li a{ cursor: pointer; }
        .pagination li a.active{
            color: #2a6496;
            background-color: #eee;
            border-color: #ddd;
        }
    </style>
</head>
<body class="container-fluid">
<div id="app">
    
    <ul>
        <li class="list-group-item active" style="margin-top: 10px;">${title} </li>
        <li v-for="item in list" class="list-group-item">${item.code} . ${item.name}</li>
    </ul>

    <nav>
        <ul class="pagination">
            <li v-if="current_num > 1">
                <a v-on:click="previous()">
                    <span>&laquo;</span>
                </a>
            </li>

            <li v-for="i in pagination_num"><a v-on:click="getNum(i)" v-bind:class="{ active: (current_num === i) }">${i}</a></li>

            <li v-if="current_num != pagination_num">
                <a v-on:click="next()">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
<script type="text/javascript">
    var vm = LAM.run([jQuery],function($){
        'use strict';
        var System = this;

        var data = __DATA__.data;
        var len = data.length;

        var delimiters = ['${', '}'];
        var vm = new Vue({
          el: '#app',
          delimiters: delimiters,
          data: function(){
            return {
                title : "", 
                list : [],
                data_len: len,
                row_num : 100,
                pagination_num : 0,
                current_num : 0,
                start : 0
            };
          },
          created: function(){
            this.title = __DATA__.title;
            this.pagination_num = Math.ceil(len / this.row_num);
            this.current_num = 1;
          },
          methods: {
            getData : function() {
                this.list = [];
                this.start = (this.current_num-1) * this.row_num;
                var len_move = (this.start + this.row_num)
                var end = len_move < len ? len_move  : len;
                for(var i = this.start; i < end; i++){
                    this.list.push(data[i]);
                }
            },
            previous : function(){
                this.current_num--;
                if(!(this.current_num > 0)){
                    this.current_num = 1;
                }
            },
            next : function(){
                this.current_num++;
                if(!(this.current_num < this.pagination_num)){
                    this.current_num = this.pagination_num;
                }
            },
            getNum : function(n){
                this.start = (n-1) * this.row_num
                this.current_num = n;
            }
          },
          watch: {
            current_num : function(){this.getData();}
          }
        });

        return vm;


        
    });






</script>
</html>