<#define _TITLE_="文章" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/article/list/" />


<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'网页地址','href':'__INDEX__url/index','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->



<#Block:begin id="views.article.list">
<div v-loading="loading">
    <el-row>
        <el-col :span="24">
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item label="标题">
                  <el-input v-model="keyword" placeholder="标题"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="action(1)">添加</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <el-table
                
                :data="tableData"
                style="width: 100%">
                <el-table-column
                    prop="title"
                    label="标题"
                    >
                    <template slot-scope="scope">
                        <router-link :to="'/article/detail/' + scope.row.id">{{ scope.row.title }}</router-link>
                      </template>
                </el-table-column>
                <el-table-column
                    prop="created_at"
                    label="创建日期"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="updated_at"
                    label="更新日期"
                    width="180">
                </el-table-column>
                <el-table-column label="操作" width="180">
                    <template slot-scope="scope">
                      <el-button
                        size="mini"
                        @click="action(2, scope.row)">编辑</el-button>
                      <el-button
                        size="mini"
                        type="danger"
                        @click="action(3, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>

    

    <el-dialog
    :title="dialogTitle"
    :visible.sync="dialogVisible"
    :close-on-click-modal="false"
    width="100%">
    <el-form :model="form" :rules="rules" ref="validateForm" label-width="120px" class="demo-ruleForm">
        <el-form-item label="类别：" prop="type">
            <el-tree-select :data="form" :list="list"></el-tree-select>
        </el-form-item>
        <el-form-item :error="formError.title" label="标题：" prop="title">
            <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item :error="formError.content" label="内容：" prop="content">
            <QuillEditorComponent :data="form"></QuillEditorComponent>
        </el-form-item>
        
        
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">关闭</el-button>
        <el-button type="primary" @click="submit()">保存</el-button>
    </span>
    </el-dialog>
</div>


<#Block:end>

<#include file="~/components/QuillEditorComponent.html" />
<#include file="__COMPONENTS__/TreeSelectComponen.html" />

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        const Api = System.require("Api");

        const QuillEditorComponent = System.require("views.article.list.components.QuillEditorComponent");


        var ContentComponent = {
            'name': "articleIndex",
            data(){
                return {
                    'loading': true,
                    'dialogTitle': "提示",
                    'dialogVisible': false,
                    'contents': [],
                    'keyword': "",
                    'title': "",
                    'sid': "-1",
                    'form':{
                        'active':"",
                        'sid': "1",
                        'id': "-1",
                        'sortName': "",
                        'title': "",
                        'content': ""
                    },
                    'formError':{
                        'title': "",
                        'content': ""
                    },
                    'tableData': [],
                    'filterText': '',
                    'list': [],
                    'rules': {
                        'title': [
                            { 'required': true, 'message': '请输入标题', 'trigger': 'blur' }
                        ],
                        'type': [
                            { 'required': true, 'message': '请选择类别', 'trigger': 'blur' }
                        ],
                        'content': [
                            { 'required': true, 'message': '请输入内容', 'trigger': 'blur' }
                        ]
                    }

                };
            },
            'components': {
                QuillEditorComponent,
                'el-tree-select': System.require('components.TreeSelectComponen')
            },
            beforeCreate() { },
            created() {
                this.getContent();
                Api.sorts.get(res => {
                    this.list = res
                    this.loading = false;
                })
            },
            'methods': {
                detail(id){
                    this.$router.push(`/article/detail/${id}`);
                },
                ok() {
                    this.dialogVisible = false;
                    this.loading = false;
                    
                },
                submit() {
                    this.$refs.validateForm.validate((valid) => {
                        if (!valid) {
                            return false;
                        }
                        });
                    this.initError();
                    
                    switch(this.form.active) {
                        case 1:
                            this.add();
                        break;
                        case 2:
                            this.modify(this.form.id);
                        break;
                    }

                },
                initError() {
                    this.formError.sid = "";
                    this.formError.title = "";
                    this.formError.content = "";
                },
                init() {
                    this.form.sid = 1;
                    this.form.title = '';
                    this.form.content = '';
                    this.initError();
                },
                action(active, item) {
                    this.init();
                    this.initError();
                    this.form.active = active;

                    switch(active) {
                        case 1:
                            this.dialogTitle = "新增";
                            this.dialogVisible = true;
                            break;
                        case 2:
                            this.dialogTitle = "修改";
                            this.dialogVisible = true;
                            this.form.id = item.id;
                            this.form.sid = item.sid;
                            this.form.title = item.title;
                            this.form.content = item.content;
                            this.form.sortName = item.sortName;
                            break;
                        case 3:
                            this.remove(item.id);
                            break;
                    }
                    
                },
                add() {
                    var v = this;
                    this.loading = true;
                    const sid = this.form.sid;
                    const title = this.form.title;
                    const content = this.form.content;

                    const data = { 
                        sid,
                        title,
                        content
                    };
                    Api.article.add(data, res => {
                        this.loading = false;
                        if(res.status){
                            this.getContent();
                            this.loading = false;
                            this.$message({
                                type: 'success',
                                message: '添加成功!'
                            });

                        }else{
                            System.each(res.errors, (key,value) => {
                                this.formError[key] = value;
                            });
                        }

                    });
                },
                search() {
                    let name = this.keyword;
                    
                    if(sid > 0) {
                        this.loading = true;
                        Api.article.search({ title }, res => {
                            this.loading = false;
                            if(res.status){
                                this.contents = res.data;
                            }
                        });
                        
                    }

                },
                confirm(func){
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        func()
                    }).catch(() => {
                        // this.$message('已取消删除')  
                    })
                },
                getContent(){
                    this.loading = true;
                    Api.article.index(res => {
                        this.loading = false;
                        this.tableData = res.data;
                    });
                },
                remove(id){
                    this.confirm(()=> {
                        this.loading = true;
                        Api.article.delete(id, res => {
                            this.loading = false;
                            if(res.status) {
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                this.getContent();
                            }else{
                                System.each(res.errors,function (key,value) {
                                    alert(value)
                                });
                                
                            }
                            
                        });
                    });
                },
                modify(id){
                    this.loading = true;
                    const sid = this.form.sid;
                    const title = this.form.title;
                    const content  = this.form.content;

                    Api.article.edit({
                        id,
                        sid,
                        title,
                        content
                    }, res => {
                        this.loading = false;
                        if(res.status){
                            
                            this.getContent();
                            this.loading = false;
                            this.$message({
                                type: 'success',
                                message: '修改成功!'
                            });
                        }else{
                            System.each(res.errors, (key,value) => {
                                this.formError[key] = value;
                            });
                        }
                    },'json');
                }
            },
            'watch': { 
                filterText(val) {
                    this.$refs.tree.filter(val);
                }
            },
            template: System.Template.getBlock('views.article.list')
        };

        System.export('views.article.list', ContentComponent);
    });
</script>

<style type="text/css">

</style>




