<#Block:begin id="clock">
<div class="clock _lhh_clock clearfix">
    <div class="_lhh_clock-date pull-left lh-35 MR10" id="clock-date"></div>
    <ul class="_lhh_clock-ul pull-left lh-35">
        <li class="clock-hours"></li>
        <li class="_lhh_clock-ul-point">:</li>
        <li class="clock-min"></li>
        <li class="_lhh_clock-ul-point">:</li>
        <li class="clock-sec"></li>
    </ul>
</div>
<#Block:end>
<script type="text/javascript">
    LAM.run([jQuery],function($){
        'use strict';
        var System=this;

        /**
         * 电子时钟
         */
        function dateTime(){
            var monthNames = [ "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月" ];
            var dayNames= ["星期天","星期一","星期二","星期三","星期四","星期五","星期六"];
            var newDate = new Date();
            newDate.setDate(newDate.getDate());
            var date = newDate.getFullYear()+'年'+monthNames[newDate.getMonth()]+newDate.getDate()+'日'+' '+dayNames[newDate.getDay()];
            $('#clock-date').html(date);

            System.listen(function(){
                var seconds = new Date().getSeconds();
                var minutes = new Date().getMinutes();
                var hours = new Date().getHours();

                $(".clock-sec").html(( seconds < 10 ? "0" : "" ) + seconds);
                $(".clock-min").html(( minutes < 10 ? "0" : "" ) + minutes);
                $(".clock-hours").html(( hours < 10 ? "0" : "" ) + hours);

            },1000);

        }

        $(function(){

        dateTime();
        });
    });



</script>
