<#define __IMAGE__="{{LAM.IMAGE}}" />
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>

</head>
<body>
	<div style="text-align: center;font-weight: bold;">
    <h1 style="font-size: 5em;color:#333;margin: 0;">{{code}}</h1>
    <img src="__IMAGE__/t404_1.jpg" alt="">
    <p style="font-size: 2em;color:#666;margin: 0;">{{message}}</p>
</div>
</body>
</html>



