<#define __ROOT__="{{LAM._ROOT_}}" />
<#define __VIEWS__="{{LAM.VIEWS}}" />
<#define __CLASSPATH__="{{LAM.classPath}}" />
<#define __SERVER__="{{LAM.SERVER}}" />


<#import path="/Sport.class,/Thumbnail.class" root="__CLASSPATH__" />

#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#

<#import type="css" path="
/common/plugins/bootstrap/bootstrap
,/common/css/lib/global
" root="__ROOT__" befor="1" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{-title-}}</title>
    <style type="text/css">
        .w-page{}
        html,body,#container,.sidbar,.content{height:100%;}
        #container{}
        .sidbar{width:200px;position: fixed;top:0;bottom:0; left:0;background:red;}
        #content{
            position: absolute;
            top: 0px;
            right: 0px;
            left: 200px;
            background:green;
        }
        #ul1 > li{min-height:250px;overflow: auto; background: #fff; margin: 0 5px 10px 0;}

    </style>

</head>

<body>
    
<!--嵌套三层 每一层是一个对象-->
<div id="container" class="">
    <div class="sidbar">
        <#include tp-data="{'content':'this is include'}" file="__VIEWS__/include/test.html" />
    </div>

    <div class="" id="content">
        <ul id="ul1" class="sectionFloat clearfix P10">
            <#=block id="content" data="{'data':__DATA__}" />
        </ul>


    </div>

    </div>
</div>

</body>
</html>
<#Block:begin id="content" data="{'data':''}">
    <% LAM.each(data,function(i, item){%>
    <li><div class="H100 M10 P10" style="background: #fff;"><%=LAM.Template.getBlock("list", {'item': item})%></div></li>
    <% });%>
<#Block:end>

<#Block:begin id="list" data="{'item': {'id':0, 'name': '', 'pid':0, child:[]} }">
<div class="btn">
    <span>
        <%if(LAM.isArray(item.child) && !LAM.empty(item.child)){%>--<%}%>
        <%=item.name%>
    </span>
</div>
<%if(LAM.isArray(item.child) && !LAM.empty(item.child)){%>
    <ul class="ml15">
        <%LAM.each(item.child,function(i, item){%>
            <li><%=LAM.Template.getBlock("list", {'item': item})%></li>
        <%});%>
    </ul>
<%}%>

<#Block:end>






<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        var System=this;
        var Thumbnail = System.require("lam.Thumbnail");
        var Template = System.require("lam.base.Template");


        var thumbnail;
        function layout(){
            thumbnail=new Thumbnail({'$view':$('#ul1'),'baseWidth':200,'baseHeight':150,'$li':$('#ul1 > li')}).run();
            System.export("thumbnail", thumbnail);
        }
        $(function(){
            layout();

        });

        $(window).resize(function(){
            thumbnail.resize();


        });
        


    });


</script>