<#define _TITLE_="思维导图" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __URL__="{#LAM.URL#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
<#define __VIEWS__="{#LAM.VIEWS#}" />
<#define ~/="__VIEWS__/mindline/index/" />

<#Block:begin id="title" data="{'title':'_TITLE_'}"><#Block:end>

<!--Del:begin-->
<#extends title="_TITLE_" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'网页地址','href':'__INDEX__url/index','title':''},
{'name':'_TITLE_'}
]}" />
<!--Del:end-->

<#Block:begin id="views.mindline.index">
<div v-loading="loading">
    <el-button v-on:click="action(1)" type="primary">添加思维导图</el-button>
     <el-row :gutter="10">
         <el-col :span="6" v-for="(item, index) in list" :class="{ line: (index + 1) % 4 != 0 }" style="margin:5px 0px;" :key="index">
             <div class="grid-content bg-purple">
                 <el-card class="box-card">
                     <div slot="header" class="clearfix">
                         <el-button type="text" style="font-size: 15px">
                            <a :href="'__URL__/mindline/detail/' + item.key" target="_blank">{{ item.name }}</a>
                            
                        </el-button>
                         <el-button style="float: right; padding: 3px 0" v-on:click="action(2, item)" type="text">修改</el-button>
                         <el-button style="float: right; padding: 3px 0" v-on:click="remove(item.id)" type="text">删除</el-button>
                     </div>
                     <div class="p10">
                        <div class="text item">创建日期：{{ item.created_at }}</div>
                        <div class="text item">修改日期：{{ item.updated_at }}</div>
                     </div>
                 </el-card>
             </div>
         </el-col>
     </el-row>

     <el-dialog
        
       :title="dialogTitle"
       :visible.sync="dialogVisible"
       :close-on-click-modal="false"
       width="">
       <el-form :model="form" ref="validateForm" :rules="rules" label-width="120px" class="demo-ruleForm">
            <el-form-item :error="formError.key" label="key：" prop="key">
                <el-input v-model="form.key"></el-input>
            </el-form-item>
            <el-form-item :error="formError.name" label="名称：" prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="备注：" prop="remark">
                <el-input type="textarea" v-model="form.remark"></el-input>
            </el-form-item>
        </el-form>
       <span slot="footer" class="dialog-footer">
           <el-button @click="dialogVisible = false">取 消</el-button>
           <el-button type="primary" @click="submit()">提 交</el-button>
       </span>
     </el-dialog>
   
</div>

<#Block:end>

<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        const Api = System.require("Api");


        var ContentComponent = {
            'name': "mindlineIndex",
            components: {
            },
            data(){
                return {
                    loading: true,
                    dialogTitle: "添加思维导图",
                    dialogVisible: false,
                    list: [],
                    form: {
                        active: "",
                        id: -1,
                        key: "",
                        name: "",
                        thumbnail: "",
                        remark: ""
                    },
                    formError:{
                        key: "",
                        name: ""
                    },
                    rules: {
                        name: [
                            { required: true, message: '请输入名称', trigger: 'blur' }
                        ],
                        key: [
                            { required: true, message: '请输入key', trigger: 'blur' }
                        ]
                    }
                };
            },
            created() {
                this.$emit('change_crumb_data', [
                    { 'name': '首页' },
                    { 'name': '_TITLE_' }
                ]);
                this.loadData();
            },
            methods: {
                detail(key){
                    this.$router.push(`/mindmap/detail/${key}`);
                },
                init() {
                    this.form.id = -1;
                    this.form.active = '';
                    this.form.key = '';
                    this.form.name = '';
                    this.form.thumbnail = '';
                    this.form.remark = '';
                    this.initError();
                },
                initError() {
                    this.formError.key = "";
                    this.formError.name = "";
                },
                loadData() {
                    this.init();
                    this.loading = true;
                    Api.mindmaps.list(res => {
                        if(res.status){
                            this.loading = false;
                            this.list = res.data;
                            const message = "数据加载成功";
                                    this.$message({
                                        message,
                                        type: 'success'
                                        });
                        }
                    });
                },
                submit() {
                    this.$refs.validateForm.validate((valid) => {
                        if (!valid) {
                            return false;
                        }
                        });
                    this.loading = true;
                    this.initError();
                    
                    switch(this.form.active) {
                        case 1:
                        this.add();
                        break;
                        case 2:
                        this.modify(this.form.id);
                        break;
                    }

                },
                ok() {
                    this.loading = false;
                    this.dialogVisible = false
                },
                action(active, item) {
                    this.init();
                    this.form.active = active;

                    switch(active) {
                        case 1:
                        this.dialogTitle = "新增";
                        break;
                        case 2:
                        this.dialogTitle = "修改";
                        this.form.id = item.id;
                        break;
                    }
                    
                    this.dialogVisible = true

                    if(item) {
                        this.form.key = item.key;
                        this.form.name = item.name;
                        this.form.remark = item.remark;
                    }
                },
                confirm(func){
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        func()
                    }).catch(() => {
                        // this.$message('已取消删除')  
                    })
                },
                remove(id){
                    this.confirm(()=> {
                        this.loading = true;
                        Api.mindmaps.delete(id, res => {
                            this.loading = false;
                            if(res.status){
                                this.loadData();
                                this.ok();
                                
                            }
                        });
                    })
                
                },
                modify(id){
                    const key  = this.form.key;
                    const name = this.form.name;
                    const thumbnail = this.form.thumbnail;
                    const remark = this.form.remark;
                    const data = {
                        id,
                        key,
                        name,
                        thumbnail,
                        remark
                    };
                    this.loading = true;
                    Api.mindmaps.edit(data, res => {
                        this.loading = false;
                        if(res.status){
                            this.loadData();
                            this.ok();
                            this.$message({ message: '修改成功', type: 'success' });
                        } else {
                            this.$message.error('修改失败');
                        }
                    });

                    
                },
                add() {
                    const key = this.form.key;
                    const name= this.form.name;
                    const thumbnail = this.form.thumbnail;
                    const remark = this.form.remark;
                    const content = [{name}];
                    const data = { key, name, thumbnail, content: JSON.stringify(content), remark };
                    
                    this.loading = true;
                    Api.mindmaps.add(data, res => {
                        this.loading = false;
                        if(res.status){
                            this.loadData();
                            this.ok();
                            this.$message({ message: '添加成功', type: 'success' });
                        }
                    });

                }
            },
            template: System.Template.getBlock('views.mindline.index')
        };

        System.export('views.mindline.index', ContentComponent);
    });
</script>

<style type="text/css">
</style>




