<#define __SERVER__="{{LAM.SERVER}}" />


<#define _TITLE_="添加店铺" />

<#extends title="_TITLE_" data="{'list':[
{'name':'店铺管理','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'_TITLE_'}
]}" />

<#beginBlock id="crumb" data="{'list':[
{'name':'店铺管理','href':'###','title':''},
{'name':'店铺管理','href':'###','title':''},
{'name':'_TITLE_'}
]}">
<#endBlock>



<form class="form-horizontal" action="__SERVER__/shop/add" method="post">
    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
                <ul>
                    <li class="clear mb5">
                        <label class="L">名称：<span class="warning">*</span></label>
                        <input type="text" name="name" class="text name L" value="">
                        <span data-error="name" class="help-block none"></span>
                    </li>
                </ul>
            </div>
            <div class="clear mb10 sectionForm-A1 sectionForm-A1-1-1 sectionForm-A2 ml50">
                <button type="submit" class="btn save L mr15">提交</button>
                <button type="reset" class="btn btn-cancel L">恢复</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        function getByName(name) {
            return document.getElementsByName(name)[0].value;
        }

        $(function(){
            $('form').submit(function () {
                $('[data-error]').hide();
                var name = getByName("name");

                $[this.method](this.action,{
                    'name':name
                },function(data){
                    if(data.status){
                        alert(data.message);
                        System.redirect(System.INDEX+"shop/index");
                    }else{
                        // alert(data.message);
                        System.each(data.errors,function (key,value) {
                            $('[data-error="'+key+'"]').text(value).show();
                        });
                    }
                },'json');

                return false;
            });



        });
    });
</script>