<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __MODELS__="{#LAM.MODELS#}" />
<#define __COMPONENTS__="{#LAM.COMPONENTS#}" />
#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#

<#define _TITLE_="修改类别" />



<#extends title="类别" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'类别列表','href':'__INDEX__sorts/index','title':''},
{'name':'_TITLE_'}
]}" />


<#Block:begin id="content">
<form class="form-horizontal">
    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
                <ul>
                    <li class="clear mb5">
                        <label class="L">类别：<span class="warning">*</span></label>
                        <select-box-component :id="id" :sid="sid" v-on:setSid="setSid" v-on:setSortName="setSortName" :sortName="sortName" :list="list"></select-box-component>
                        <span data-error="pid" class="help-block none"></span>
                    </li>
                    <li class="clear mb5">
                        <label class="L">名称：<span class="warning">*</span></label>
                        <input type="text" v-model="name" class="text name L">
                        <span data-error="name" class="help-block none"></span>
                    </li>

                </ul>
            </div>
            <div class="clear mb10 sectionForm-A1 sectionForm-A1-1-1 sectionForm-A2 ml50">
                <button type="button" @click="submit" class="btn save L mr15">修改</button>
                <button type="reset" class="btn btn-cancel L">恢复</button>
            </div>
        </div>
    </div>
</form>
<#Block:end>




<#include file="__COMPONENTS__/SelectBoxComponent.html" />
<script type="text/javascript">
    LAM.run(function(){
        'use strict';
        const System = this;

        const Api = System.require("Api");
        const  id = System.get('id'), 
               sid = System.get('pid');

        const ContentComponent = {
          name: "ContentComponent",
          props: {
          },
          components: {
            "select-box-component": System.require('SelectBoxComponent')
          },
          data() {
            return {
                list: __DATA__,
                id,
                sid,
                sortName: "",
                name: ""
            }
          },
          beforeCreate() {
            Api.sorts.detail(id, ({ data, status, message = 'error'}) => {
                if(status){
                    this.name = data.name;
                }else{
                    alert(message);
                }
            },'json');
            if(sid > 0) {
                Api.sorts.detail(sid, ({ data, status, message = 'error'}) => {
                    if(status){
                        this.sortName = data.name;
                    }else{
                        alert(message);
                    }
                },'json');
            }
            
          },
          methods: {
            setSid(sid){
                this.sid = sid;
            },
            setSortName(name) {
                this.sortName = name;
            },
            submit(){
                var wait = layer.load();
                $('[data-error]').hide();
                const pid = this.sid;
                const name = this.name;

                var data = { 
                    id,
                    pid,
                    name
                };

                Api.sorts.edit(data, D => {
                    layer.close(wait);
                    if(D.status){
                        alert(D.message);
                        System.redirect(System.INDEX+"sorts/index");
                    }else{
                        // alert(D.message);
                        // System.each(D.errors,function (key,value) {
                        //     $('[data-error="'+key+'"]').text(value).show();
                        // });
                    }

                });
                 

            }
          },
          template: System.Template.getBlock('content')
        };

        System.export('ContentComponent', ContentComponent);
    });
</script>

