<#define __LAMPATH__="{#LAM.classPath#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __HOME__="__INDEX__{#LAM.routeRules.index#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />
<#define ~@="{#LAM.VIEWS#}/sorts" />

#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#
<#define _TITLE_="类别列表" />


<#extends title="类别" data="{'list':[
{'name':'首页','href':'__HOME__','title':'首页'},
{'name':'类别列表','href':'__INDEX__sorts/index','title':''},
{'name':'_TITLE_'}
]}" />

<#Block:begin id="content">
<div class="clearfix">
	<div v-for="v in list" :key="v.id" class="L mr5 mb30 sectionButton-B1 sectionButton-B1-big" style="border: 3px solid rgba(127, 199, 251, 0.341); padding: 10px;">
		<div class="btn">
	        <span @click="modify(v.id, v.pid)">{{ v.name }}</span>
	        <a @click="remove(v.id)">删除</a>
	    </div>
		<ul v-if="isArray(v.child)" class="ml10"><child-component v-on:remove="remove" v-on:modify="modify" :list="v.child"></child-component></ul>
	</div>
</div>
<#Block:end>



<#include file="~@/components/ChildComponent.html" />
<script type="text/javascript">

    LAM.run(function() {
        'use strict';
        var System = this;

        const Api = System.require("Api");

        var ContentComponent = {
            'name': 'ContentComponent',
            data(){
                return {
                	list: __DATA__
                };
            },
            'components': {
                'child-component': System.require('ChildComponent')
            },
            'methods': {
                modify(id, pid) {
                    System.redirect(`__INDEX__sorts/edit&id=${id}&pid=${pid}`);
                },
                remove(id) {
                    layer.confirm('真的要删除吗？？？', {icon: 3, title:'提示'}, index => {
                    
                        Api.sorts.delete(id, data => {
                            if(data.status){
                                window.location.reload();
                            }else{
                                alert(data.message);
                                System.each(data.errors,function (key,value) {
                                    alert(value)
                                });
                                layer.close(index);
                            }
                        })
                    });
                },
            	isArray(value) {
	                return System.isArray(value);
	            }
            },
            'watch': { },
            template: System.Template.getBlock('content')
        };


        System.export('ContentComponent', ContentComponent);
    });
</script>


<style type="text/css">
    .sectionButton-B1 .btn{}
    .sectionButton-B1 .btn a{color:#fff;}

</style>