<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ROOT}}/css/font-awesome.css"/>


    <style type="text/css">
        /*
            仅iframe 下样式
        */
        body {
            overflow: auto;
        }

        .content {
            margin-left: 220px;
        }

        .site-holder.mini-sidebar .content {
            margin-left: 50px;
        }
    </style>
</head>
<body class="M0">
<a href="" target="iframe" class="PL25"
   data-original-title="Basic"><i class="fa fa-test-box"></i><span>  逆变器监测</span>
</a>
</body>

</html>










