<#define __SERVER__="{{LAM.SERVER}}" />
#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#


<#define _TITLE_="添加类别" />

<#extends title="_TITLE_" data="{'list':[
{'name':'类别','href':'###','title':''},
{'name':'类别','href':'###','title':''},
{'name':'_TITLE_'}
]}" />

<#beginBlock id="crumb" data="{'list':[
{'name':'类别','href':'###','title':''},
{'name':'类别','href':'###','title':''},
{'name':'_TITLE_'}
]}">
<#endBlock>
<#Block:begin id="select" data="{'list':[]}">
<option value="0">一级</option>
<%LAM.each(list,function(i){%>
<option value="<%=this.id%>"><%=this.name%></option>
<%});%>
<#Block:end>
<form class="form-horizontal" action="__SERVER__/sorts/add" method="post">
    <div class="sectionWrap-A5">
        <div class="p15">
            <div class="sectionForm-A1 sectionForm-A1-1 sectionForm-A1-1-1 mb15">
                <ul>
                    <li class="clear mb5">
                        <label class="L">类别：<span class="warning">*</span></label>
                        <select class="L" name="pid">
                            <option value="0">请选择</option>
                            <#=block id="select" data="{'list':__DATA__}" />
                        </select>
                        <span data-error="pid" class="help-block none"></span>
                    </li>
                    <li class="clear mb5">
                        <label class="L">名称：<span class="warning">*</span></label>
                        <input type="text" name="name" class="text name L" value="">
                        <span data-error="name" class="help-block none"></span>
                    </li>

                </ul>
            </div>
            <div class="clear mb10 sectionForm-A1 sectionForm-A1-1-1 sectionForm-A2 ml50">
                <button type="submit" class="btn save L mr15">提交</button>
                <button type="reset" class="btn btn-cancel L">恢复</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        function getByName(name) {
            return document.getElementsByName(name)[0].value;
        }

        $(function(){
            $('form').submit(function () {
                $('[data-error]').hide();
                var pid  = getByName("pid");
                var name = getByName("name");

                $[this.method](this.action,{
                    'pid':pid,
                    'name':name
                },function(data){
                    if(data.status){
                        alert(data.message);
                        System.redirect(System.INDEX+"sorts/index");
                    }else{
                        // alert(data.message);
                        System.each(data.errors,function (key,value) {
                            $('[data-error="'+key+'"]').text(value).show();
                        });
                    }
                },'json');

                return false;
            });



        });
    });
</script>