<#define __LAMPATH__="{#LAM.classPath#}" />
<#define __SERVER__="{#LAM.SERVER#}" />
<#define __INDEX__="{#LAM.INDEX#}" />
<#define __CSS__="{#LAM.CSS#}" />
<#define __PLUGINS__="{#LAM.PLUGINS#}" />
<#define __CLASSPATH__="{#LAM.classPath#}" />

#define# __DATA__ <#include repeat="0" tp-data="{}"  file="__SERVER__/sorts/index" /> #end#



<#extends title="类别" data="{'list':[
{'name':'类别','href':'###','title':''},
{'name':'类别列表','href':'###','title':''},
{'name':'类别列表'}
]}" />

<#beginBlock id="crumb" data="{'list':[
{'name':'类别','href':'###','title':''},
{'name':'类别列表','href':'###','title':''},
{'name':'类别列表'}
]}">
<#endBlock>


<#Block:begin id="childComponent">
<div>
	<div v-for="v in list">
		<li v-if="isArray(v.child)">
			<div class="btn mt5">
		        <span> {{ v.name }}</span>
		        <a :href="'__INDEX__sorts/edit&id=' + v.id + '&pid=' + v.pid" target="_blank">修改</a>
		        <a data-type="delete" href="javascript:void(0)" :data-url="'__INDEX__sorts/delete&id=' + v.id">删除</a>
		    </div>
			<ul class="ml10"><child-component :list="v.child"></child-component></ul>
		</li>
		<li v-else class="mt5">
			<div class="btn">
		        <span> {{ v.name }}</span>
		        <a :href="'__INDEX__sorts/edit&id=' + v.id + '&pid=' + v.pid" target="_blank">修改</a>
		        <a data-type="delete" href="javascript:void(0)" :data-url="'__INDEX__sorts/delete&id=' + v.id">删除</a>
		    </div>
		</li>
	</div>
</div>
<#Block:end>


<#Block:begin id="content">
<div>
	<div v-for="v in list" class="L mr5 mb10 sectionButton-B1 sectionButton-B1-big" :data-id="v.id">
		<div class="btn">
	        <span>{{ v.name }}</span>
	        <a :href="'__INDEX__sorts/edit&id=' + v.id + '&pid=' + v.pid" target="_blank">修改</a>
	        <a data-type="delete" href="javascript:void(0)" :data-url="'__INDEX__sorts/delete&id=' + v.id">删除</a>
	    </div>
		<ul v-if="isArray(v.child)" class="ml10"><child-component :list="v.child"></child-component></ul>
	</div>
</div>
<#Block:end>



<#Block:begin id="contentComponent">
<script type="text/javascript">

    var contentComponent = LAM.run([jQuery],function($) {
        'use strict';
        var System = this;

        


        var childComponent = {
          name: 'childComponent',
          props: {
            'list': Array
          },
          data: function () {
            return {
            }
          },
          methods: {
            'isArray': function(value) {
                return System.isArray(value);
            }
          },
          template: System.Template.getBlock('childComponent')
        };


        var contentComponent = {
            'name': contentComponent,
            'data': function(){
                return {
                	list: __DATA__
                };
            },
            'components': {
                'child-component': childComponent
            },
            'methods': {
            	'isArray': function(value) {
	                return System.isArray(value);
	            }
            },
            'watch': {
            },
            template: System.Template.getBlock('content')
        };

        $(function(){
			$(document).on('click', '[data-type="delete"]', function () {
                var $this = $(this);
                layer.confirm('真的要删除吗？？？', {icon: 3, title:'提示'}, function(index){
                  //do something
                  System.redirect($this.data('url'));
                  layer.close(index);
                });

            });
		});

        return contentComponent;
    });
</script>
<style type="text/css">
    .sectionButton-B1 .btn{}
    .sectionButton-B1 .btn a{color:#fff;}

</style>
<#Block:end>