<#define __IMAGE__="{{LAM.IMAGE}}" />
<#define __COMPONENTS__="{{LAM.COMPONENTS}}" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/header.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/putSee.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/login.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/regist.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/tool.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/wall_hole.html" />
<#include repeat="0" tp-data="" file="__COMPONENTS__/balcony.html" />


<#Block:begin id="goods_sidebar" data="{}">
    <!-- info商品介绍 -->
    <div id="goods-sidebar" class="border">
        <div class="lhh-HXSJ-Title-goods"><i class="more" href="javascript:;"></i></div>
        <div class="p20">
            <div class="lhh-HXSJ-Goods-info">
                <i class="icon"></i>
                <img class="border block" src="" width="" height="" alt=""/>
                <div class="clearfix mt10 mb10">
                    <div class="lhh-HXSJ-Price L">
                        <span class="mr2"><strong class="symbol">¥</strong><span class="number strong">1560.00</span></span>
                        <span class="del"><span class="symbol font-12">¥</span>5000.00</span>
                    </div>
                    <div class="lhh-HXSJ-Button-A1 R">
                        <button class="button btn-blue">详细信息</button>
                    </div>
                </div>
                <h4 class="lhh-HXSJ-Font font-14 mb10">商品名称商品名称商品名称 显示不...</h4>
                <p class="lhh-HXSJ-Font lhh-HXSJ-Font-lightgrey">
                    <a href="###">品牌馆名称品牌馆名称</a>
                    <span>北京</span>
                </p>
            </div>
        </div>
    </div>
<#Block:end>

<#Block:begin id="loading">
    <div id="loading" class="none">
        <img src="__IMAGE__/loading.gif" alt="">
    </div>
<#Block:end>


